/* Inbox */
div.inboxContainer
{
}
div.inboxContainer a.inboxMessage
{
  display:block;
  border:1px solid #708090;
  margin:0px 10px 5px 10px;
  padding:2px 2px 2px 50px;
  text-decoration:none;
  color:black;
}
div.inboxContainer a.read
{
  background:url('images/inbox-message-read.png') no-repeat center left;
}
div.inboxContainer a.unread
{
  background:url('images/inbox-message-unread.png') no-repeat center left;
}
div.inboxContainer a.inboxMessage div.header
{
  border-bottom:1px solid #708090;
  padding-bottom:2px;
  margin-bottom:2px;
  margin-right:10px;
}
div.inboxContainer a.inboxMessage div.blurb
{
  padding:4px;
  color:#6183A6;
}

/* Message */
div.messageContainer
{
}
div.messageContainer div.header
{
  border-bottom:1px solid black;
  padding-bottom:10px;
}
div.messageContainer div.header a.participant, div.messageContainer div.header div.time
{
  display:block;
  text-decoration:none;
}
div.messageContainer div.header a.participant b, div.messageContaienr div.header div.time b { color:black; }