/*style=\"border:1px solid black;width:150px;margin:0px auto 5px auto;\"*/
body { text-align:center; }
html
{
  font-family:verdana, arial, serif;
  font-size:11px;
}
div.header
{
  font-weight:bold;
  border-bottom:1px solid #708090;
  padding-bottom:1px;
  text-align:left;
  margin-bottom:5px;
}
img.uploadedComic
{
  border:1px solid black;
  max-width:150px;
  width:150px;
  margin-bottom:5px;
}
