/* Faux-table */
div.fauxTable
{
  
}
div.fauxTable div.cell, div.fauxTable a.cell
{
  display:inline-block;
  margin-top:5px;
  margin-left:5px;
  padding:2px 0px 2px 0px;
}
div.fauxTable a.cell:hover
{
  background-color:#9AC0CD;
  color:#708090;
}