/* Manage Soundslides */
img.thumbnailImage
{
  border:1px solid black;
  float:right;
  margin:0px 10px 0px 0px;
  width:100px;
  max-width:100px;
}
div.fauxSlidesTable
{
}
div.fauxSlidesTable div.cell
{
  width:100px;
  height:100px;
  max-width:100px;
  text-align:center;
}
div.fauxSlidesTable div.cell img.icon
{
  display:block;
  border:1px solid black;
  max-width:90px;
  width:90px;
  height:90px;
  margin-left:auto;
  margin-right:auto;
}
img.deleteSlideIcon
{
  border:1px solid black;
  max-width:60px;
  max-height:60px;
  height:60px;
  width:60px;
}

/* Frame -- Add Slide */
img.slideCropBox
{
  border:1px solid black;
  max-width:300px;
  max-height:300px;
}
img.slideUploadImage
{
  width:100px;
  border:1px solid black;
  margin-left:auto;
  margin-right:auto;
  height:100px;
}

/* Edit Slides */
div.slideContainer
{
  border-bottom:1px solid black;
}
div.finalSlide { border-bottom:0px; }
div.slideContainer img.icon
{
  border:1px solid black;
  width:100px;
  height:100px;
  float:left;
  margin:5px;
}
div.slideContainer textarea { width:500px; }