/* Blog */
div.blogContainer
{
  float:right;
  width:350px;
  height:250px;
  max-height:250px;
}
div.blogContainer div.header
{
  font-weight:bold;
  text-align:right;
}
div.blogContainer div.blogEntry
{
  display:block;
  border:0px;
  margin:1px 5px 5px 5px;
  border:1px solid black;
  position:relative;
  color:black;
}
div.blogContainer div.blogEntry img.staffIcon
{
  border:1px solid black;
  background-color:white;
  padding:1px;
  width:45px;
  height:45px;
  position:absolute;
  top:-5px;
  left:-5px;
  float:left;
  display:inline;
}
div.blogContainer div.blogEntry div.bar
{
  display:inline-block;
  width:100%;
  height:35px;
}
div.blogContainer div.blogEntry div.bar div.title
{
  padding-left:50px;
  font-weight:bold;
  font-size:125%;
  background-color:#C3E4ED;
  border-bottom:1px solid black;
}
div.blogContainer div.blogEntry div.bar div.info
{
  padding-left:50px;
  font-size:90%;
}
div.blogContainer div.blogEntry div.contents
{
  margin:13px 5px 5px 5px;
  height:160px;
  overflow-y:scroll;
}
div.blogContainer div.blogNavigation
{
  border:1px solid black;
  height:10px;
  background-color:#B2DFEE;
  font-weight:bold;
  padding:5px;
}
div.blogContainer div.blogNavigation span.previous
{
  float:right;
  cursor:pointer;
}
div.blogContainer div.blogNavigation span.next { float:left; cursor:pointer; }

/* At a glance */
div.quickInfoContainer
{
  border:1px solid #38B0DE;
  background-color:#C3E4ED;/*#9AC0CD;*/
  width:330px;
  height:250px;
  max-height:250px;
}
div.quickInfoContainer div.header
{
  font-weight:bold;
  border-bottom:1px solid black;
}