/* Change e-mail */
div.emailNone { color:#660000; }
div.emailSet { color:#000066; }

/* Upload Staff Picture */
div.uploadStaffPictureContainer
{
}
div.uploadStaffPictureContainer div.createForm
{
  padding-right:10px;
  border-right:1px solid black;
  padding-bottom:10px;
  height:231px;
  overflow-y:auto;
  max-height:231px;
}
div.uploadStaffPictureContainer div.preview
{
  float:right;
  width:100px;
  max-width:100px;
  text-align:center;
}
div.uploadStaffPictureContainer div.preview div.title
{
  font-weight:bold;
  text-align:center;
}
div.uploadStaffPictureContainer div.preview img.previewStaffImage
{
  border:1px solid black;
  width:90px;
  max-width:90px;
}
div.uploadStaffPictureContainer div.preview img.previewStaffIcon
{
  border:1px solid black;
  width:60px;
  max-width:60px;
}
div.uploadStaffPictureContainer div.preview div.caption
{
  font-size:80%;
  text-align:center;
}
div.uploadStaffPictureContainer div.uploadButtons
{
  clear:both;
  border-top:1px solid black;
  text-align:center;
  padding:4px 0px 2px 0px;
}

/* Change Staff Picture */
div.staffPictureContainer
{
}
div.staffPictureContainer div.pictureActions
{
  float:right;
  width:400px;
  margin-right:50px;
}
div.staffPictureContainer img.staffPicture
{
  border:1px solid black;
  max-width:200px;
  margin-left:20px;
}
div.staffPictureContainer div.noUploadedPictureNotice
{
  margin-left:20px;
  width:200px;
  font-weight:bold;
  text-align:center;
  color:#ff0000;
}
div.staffPictureContainer img.staffIcon
{
  border:1px solid black;
  margin-left:20px;
}
div.frameDeleteCurrentPicture
{
  float:left;
  font-size:90%;
  text-align:center;
}
div.frameDeleteNoPicture
{
  float:right;
  font-size:90%;
  text-align:center;
}
div.frameDeleteCurrentPicture img, div.frameDeleteNoPicture img
{
  border:1px solid black;
  max-width:60px;
  width:60px;
  margin-bottom:2px;
}