div.listingContainer
{
}
div.listingContainer a.item
{
  display:inline-block;
  border:1px solid black;
  width:100px;
  height:100px;
  text-decoration:none;
  background-color:white;
  position:relative;
}
div.listingContainer a.item div.status
{
  position:absolute;
  top:5px;
  left:5px;
  width:16px;
  height:16px;
}
div.listingContainer a.item div.statusPublished { background:url('../../new-manage/interface/images/flag_green.gif') no-repeat top left; }
div.listingContainer a.item div.statusUnpublished { background:url('../../new-manage/interface/images/flag_red.gif') no-repeat top left; }
div.listingContainer a.item div.overlay
{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  background-color:white;
  opacity:0.6;
  filter:alpha(opacity=60);
}
div.listingContainer a.item:hover div.overlay
{
  opacity:1.0;
  filter:alpha(opacity=100);
}
div.listingContainer a.item div.title
{
  position:absolute;
  top:0px;
  padding-top:26px;
  left:0px;
  bottom:0px;
  right:0px;
  overflow:hidden;
  color:black;
  text-align:center;
}
div.listingContainer a.item:hover div.title { font-weight:bold; }
div.listingContainer div.yearContainer, div.listingContainer div.monthContainer
{
  margin:5px 20px 5px 5px;
}
div.listingContainer div.yearHeader, div.listingContainer div.monthHeader
{
  margin-bottom:5px;
  border-bottom:1px dashed #708090;
  font-weight:bold;
  color:#708090;
  padding-left:5px;
}