div.timeline
{
  height:30px;
  width:650px;
  margin:10px auto 10px auto;
}
div.timeline div.piece
{
  border-top:1px solid #708090;
  border-bottom:1px solid #708090;
  display:inline-block;
  width:89px;
  max-width:89px;
  overflow:hidden;
  height:30px;
  text-align:left;
  cursor:default;
  padding-left:11px;
  background:#EDEDED url('images/timeline-tab-future.png') no-repeat top right;
}
div.timeline div.piece b { display:block; }
div.timeline div.pieceStart
{
  border-left:1px solid #708090;
  background-image:none;
  width:94px;
  max-width:94px;
  padding-left:4px;
}
div.timeline div.pieceEnd
{
  background:url('images/timeline-tab-end-future.png') no-repeat top left;
  border:none;
  height:32px;
  padding-top:1px;
}
div.timeline div.pieceCurrent { background:white url('images/timeline-tab-current.png') no-repeat top right; }
div.timeline div.piecePast { cursor:pointer; background:white url('images/timeline-tab-past.png') no-repeat top right; }
div.timeline div.pieceEnd.pieceCurrent { background:white url('images/timeline-tab-end-current.png') no-repeat top left; }