/* Leaf Listing */
div.leafYearCalendar
{
  margin:10px;
  text-align:center;
}
div.leafYearCalendar div.currentYear
{
  font-weight:bold;
  text-decoration:underline;
  font-size:110%;
}
div.leafListingContainer
{
}
div.leafListingContainer div.issue
{
  margin:0px 5px 10px 5px;
}
div.leafListingContainer a { text-decoration:none; }
div.leafListingContainer a:hover div.issue
{
  background-color:#C3E4ED;
  color:#708090;
}
div.leafListingContainer div.issue img.icon
{
  border:1px solid #708090;
  float:left;
  width:74px;
  height:58px;
}
div.leafListingContainer div.issue div.title
{
  border-bottom:1px solid #708090;
  margin-left:74px;
  padding:0px 0px 2px 5px;
  font-size:110%;
  color:#708090;
}
div.leafListingContainer div.issue div.info
{
  margin-left:74px;
  padding-left:5px;
}
div.leafListingContainer div.issue div.info span.infoLabel
{
  font-weight:bold;
  color:#708090;
}

/* Manage */
div.leafItemContainer
{
  border:1px dotted black;
  margin-bottom:5px;
  padding:3px 3px 3px 19px;
  position:relative;
}
div.leafItemContainer div.toggle
{
  position:absolute;
  top:2px;
  left:2px;
  background:url('images/icon-expand.png') no-repeat top left;
  height:16px;
  width:16px;
  cursor:pointer;
}
div.leafItemContainer.open div.toggle { background-image:url('images/icon-collapse.png'); }
div.leafItemContainer div.supplement { display:none; }
div.leafItemContainer.open div.supplement { display:block; }