/* Manage */
img.galleryImage
{
  border:1px solid black;
  float:right;
  margin:0px 10px 0px 0px;
  width:100px;
  max-width:100px;
}
div.fauxPhotosTable
{
}
div.fauxPhotosTable div.cell
{
  width:100px;
  max-width:100px;
  text-align:center;
}
div.fauxPhotosTable div.cell img.icon
{
  display:block;
  border:1px solid black;
  max-width:90px;
  width:90px;
  margin-left:auto;
  margin-right:auto;
}
img.deletePhotoIcon
{
  border:1px solid black;
  max-width:60px;
  max-height:60px;
  height:60px;
  width:60px;
}

/* Manage Pictures */
div.pictureContainer
{
  width:100%;
}
div.pictureContainer img.picture
{
  border:1px solid #708090;
  margin:5px;
  width:200px;
  max-width:200px;
  float:right;
}
div.pictureContainer div.pictureTitle
{
  border-bottom:1px solid #708090;
  margin-right:210px;
  font-weight:bold;
  padding-bottom:1px;
}
div.pictureContainer div.pictureTitle span.noTitle { color:#660000; }
div.pictureContainer div.managePictureContainer
{
  margin-right:220px;
  margin-left:5px;
}
div.pictureContainer input
{
  width:300px;
}
div.pictureContainer textarea { width:100%; }

/* Upload Pictures */
img.photoGalleryCropBox
{
  border:1px solid black;
  max-width:300px;
  max-height:300px;
}

/* Edit Gallery */
div.editGalleryCurIcon
{
  float:left;
  margin-right:10px;
  text-align:center;
  width:100px;
  color:#708090;
  margin-top:5px;
  border-right:1px solid #708090;
}
div.editGalleryCurIcon img
{
  border:1px solid #708090;
  max-width:80px;
  width:80px;
  height:80px;
}
div.editGalleryIconSelections
{
  margin-left:110px;
}
div.editGalleryIconSelections div.text
{
  text-align:center;
  font-weight:bold;
  margin-bottom:5px;
}
div.editGalleryIconSelections div.noPhotos
{
  text-align:center;
}
div.editGalleryIconSelections img.icon
{
  max-width:60px;
  width:60px;
  height:60px;
  display:inline-block;
  border:1px solid #708090;
  opacity:0.6;
  filter:alpha(opacity=60);
  cursor:pointer;
  background-color:white;
}
div.editGalleryIconSelections img.currentIcon
{
  cursor:default;
  border-width:2px;
  background-color:green;
}