/* Compose */
img.categoryIcon, img.alignmentIcon
{
  margin-top:3px;
  max-width:50px;
  max-height:50px;
  height:50px;
  width:50px;
  border:1px solid #708090;
  cursor:pointer;
}
img.categorySelected, img.alignmentSelected
{
}
img.categoryUnselected, img.alignmentUnselected
{
  opacity:0.3;
  filter:alpha(opacity=30);
  background-color:white;
}
textarea.beatArticle
{
  width:100%;
}
div.previewPhotoCredit
{
  color:#A8A8A8;
  display:none;
  margin-bottom:5px;
}
img.cropBox
{
  border:1px solid black;
  width:300px;
  max-width:300px;
}
img.beatIcon
{
  border:1px solid black;
  margin:5px;
}

/* Listing */
div.beatListingContainer
{
}
div.beatListingContainer div.beat
{
  margin:0px 5px 10px 5px;
}
div.beatListingContainer a { text-decoration:none; }
div.beatListingContainer a:hover div.beat
{
  background-color:#C3E4ED;
  color:#708090;
}
div.beatListingContainer div.beat img.beatIcon
{
  border:1px solid #708090;
  float:left;
  width:74px;
  height:58px;
}
div.beatListingContainer div.beat div.beatTitle
{
  border-bottom:1px solid #708090;
  margin-left:74px;
  padding:0px 0px 2px 5px;
  font-size:110%;
  color:#708090;
}
div.beatListingContainer div.beat div.beatTitle span.unpublished
{
  font-weight:bold;
  color:#CD5555;
}
div.beatListingContainer div.beat div.beatInfo
{
  margin-left:74px;
  padding-left:5px;
}
div.beatListingContainer div.beat div.beatInfo span.infoLabel
{
  font-weight:bold;
  color:#708090;
}

div.beatYearCalendar
{
  margin:10px;
  text-align:center;
}
div.beatYearCalendar div.currentYear
{
  font-weight:bold;
  text-decoration:underline;
  font-size:110%;
}

div.beatListingContainer div.monthContainer div.monthHeader { cursor:pointer; }
div.beatListingContainer div.monthContainer div.monthHeader div.collapseButton
{
  float:right;
  display:inline-block;
  width:16px;
  height:16px;
  margin-right:20px;
}
div.beatListingContainer div.subgroupCollapsed div.collapseButton { background:url('images/icon-expand.png') no-repeat top left; }
div.beatListingContainer div.subgroupExpanded div.collapseButton { background:url('images/icon-collapse.png') no-repeat top left; }
div.beatListingContainer div.subgroupCollapsed div.subgroupContainer
{
  display:none;
}

/* Manage */
img.beatManageIcon
{
  border:1px solid black;
  float:right;
  margin:0px 10px 0px 0px;
  max-width:100px;
}
img.beatDisplayImage
{
  border:1px solid black;
  margin:5px;
}