/* Globals */
html, body
{
  margin:0px;
  padding:0px;
}
html
{
  font-family:verdana, arial, serif;
  font-size:11px;
  background:url('page-background.png');
}
a, span.fauxLink { color:#708090; cursor:pointer; }
a:hover, span.fauxLink:hover { color:#7AC5CD; }

a.floatNotification
{
  position:absolute;
  top:20px;
  left:20px;
  border:2px solid #708090;
  z-index:900;
  background-color:white;
  padding:5px;
  width:200px;
  font-size:90%;
  text-decoration:none;
  display:block;
  color:black;
}
a.floatNotification:hover
{
  
}

div.feedback-result
{
  width:950px;
  margin:5px auto 5px auto;
  border:1px solid #008B00;
  background-color:#71C671;
  text-align:center;
  font-weight:bold;
  padding:2px 0px 2px 0px;
}

div.pageHeader
{
  width:950px;
  margin:5px auto 10px auto;
  background:white url('horizons-header.jpg') no-repeat top left;
  height:100px;
  border:1px solid #708090;
  cursor:pointer;
}
div.pageFooter
{
  text-align:center;
  font-weight:bold;
  font-size:80%;
  margin-bottom:20px;
}
div.pageFooter a { color:#708090; }
div.breadcrumbs
{
  margin:0px auto 5px auto;
  width:940px;
  padding:5px;
  text-align:left;
  background-color:white;
  border:1px solid #708090;
  font-size:90%;
}
div.breadcrumbs a { text-decoration:none; color:#104E8B; }
div.breadcrumbs a:hover { color:#6183A6; }
div.pageNavigation
{
  margin:0px auto 5px auto;
  width:923px;
  text-align:left;
  border:1px solid #708090;
  padding-left:26px;
  background-color:white;
  position:relative;
}
div.pageNavigation div.navigationMove
{
  height:23px;
  display:inline-block;
  width:24px;
  position:absolute;
  top:0px;
  cursor:pointer;
}
div.pageNavigation div.navigationMove.right { right:0px; background:url('images/arrow-right.png') -1px left no-repeat; }
div.pageNavigation div.navigationMove.left { left:0px; background:url('images/arrow-left.png') -1px left no-repeat; }
div.pageNavigation div.navigationMove.disabled { background-image:none; cursor:default; }
div.pageNavigation div.navigationGroup
{
  width:92px;
  text-align:center;
  cursor:pointer;
  display:inline-block;
  border-left:1px solid #708090;
  border-right:1px solid #708090;
  margin-left:2px;
  position:relative;
  background-color:white;
}
div.pageNavigation div.navigationGroup.hidden { display:none; }
div.pageNavigation div.selectedGroup
{
  background-color:#ADD8E6;
}
div.pageNavigation div.navigationGroup a.groupLink
{
  text-decoration:none;
  display:block;
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
}
div.pageNavigation div.navigationGroup a.groupLink:hover { background-color:#B9D3EE; color:black; }
div.pageNavigation div.navigationGroup div.navigationMenu, div.pageNavigation div.navigationGroup div.navigationMenuRight
{
  position:absolute;
  top:23px;
  border:1px solid #708090;
  z-index:200;
  text-align:left;
  width:250px;
  background-color:#B9D3EE;
  padding:3px;
}
div.pageNavigation div.navigationGroup div.navigationMenuRight
{
  right:-6px;
}
div.pageNavigation div.navigationGroup div.navigationMenu
{
  left:-6px;
}
div.pageNavigation div.navigationGroup div.navigationMenu a.item, div.pageNavigation div.navigationGroup div.navigationMenuRight a.item
{
  display:block;
  text-decoration:none;
}
div.pageNavigation div.navigationGroup div.navigationMenu a.item:hover,
	div.pageNavigation div.navigationGroup div.navigationMenuRight a.item:hover
	{
	  color:black;
	}
div.pageContainer
{
  margin:0px auto 10px auto;
  width:690px;
  background-color:white;
  border:1px solid #708090;
  padding:5px 255px 5px 5px;
  position:relative;
  min-height:500px;
}
div.pageContainer div.noSidebar { padding-right:5px; width:940px; }
div.pageContainer div.sidebar
{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  width:250px;
  border-left:1px solid #708090;
  background-color:#A4D3EE;
}
div.pageContainer div.sidebar div.name
{
  color:#708090;
  text-align:left;
  border-bottom:1px solid #708090;
  padding:0px 0px 1px 5px;
  font-weight:bold;
  margin:5px 10px 5px 10px;
}
div.pageContainer div.sidebar img.staffAvatar
{
  border:1px solid #708090;
  width:60px;
  height:60px;
  margin:0px auto 5px auto;
  display:block;
}
div.pageContainer div.sidebar a:hover { color:white; }
div.pageContainer div.sidebar div.tipBox
{
  margin-top:10px;
  border-top:1px solid #708090;
  padding:5px;
  color:#708090;
}
div.pageContainer div.sidebar div.tipBox div.tipHeader { font-weight:bold; margin-bottom:3px; }
div.pageContainer div.sidebar div.tipBox a { font-weight:bold; }

/* Common */
.separator { margin-top:10px; }
.separatorBottom { margin-bottom:10px; }
.miniSeparator { margin-top:3px; }
.bottomBorder { border-bottom:1px solid black; padding-bottom:3px; }
div.dividingBar
{
  margin-left:10px;
  margin-right:10px;
  border-bottom:1px solid #708090;
}
div.contentHeader
{
  font-size:120%;
  font-weight:bold;
  border-bottom:1px solid #708090;
  padding-bottom:1px;
  color:#708090;
}
div.contentHeader a.returnLink
{
  text-decoration:none;
  float:right;
  margin-right:10px;
}
div.contentSubheader
{
  color:#708090;
  font-weight:bold;
}
div.contentText
{
  text-align:center;
  font-weight:bold;
}
div.contentText .specialText { color:#708090; }
div.contentText .warning { color:#660000; }
div.normalText { text-align:center; }
div.indentedContent
{
  padding-left:10px;
  padding-right:10px;
}
div.editLink
{
  text-align:right;
  padding-right:100px;
}
div.editLink .actionHidden { display:none; }
div.editLink a, div.editLink span.fauxLink
{
  font-weight:bold;
  text-decoration:none;
  cursor:pointer;
  border-left:1px solid #708090;
  margin-left:5px;
  padding-left:5px;
}
div.editLink span.disabledAction
{
  color:#A8A8A8;
  border-left:1px solid #708090;
  margin-left:5px;
  padding-left:5px;
}
div.editLink span.firstAction, div.editLink a.firstAction { border-left:none; padding-left:0px; margin-left:0px; }
div.editLink a img.actionIcon, div.editLink span.fauxLink img.actionIcon, div.editLink span.disabledAction img.actionIcon
{
  position:relative;
  top:4px;
  left:1px;
}
input.textInput
{
  font-size:12px;
  border:1px solid #708090;
  color:#708090;
  width:100%;
}
input.textInput:hover
{
  background-color:#A4D3EE;
}
input.textButton
{
  font-size:12px;
  border:1px solid #708090;
  color:#708090;
  padding:0px 10px 0px 10px;
  background-color:#C6E2FF;
  cursor:pointer;
}
a.bulletLink
{
  text-decoration:none;
  background:url('blue-bullet.png') no-repeat left -1px;
  padding-left:16px;
}
div.contentSuccess
{
  border:1px solid #8AA37B;
  background-color:#B7C8B6;
  color:#476A34;
  padding:1px 5px 1px 5px;
}
a div.contentSuccess { text-decoration:none; }
div.contentError
{
  border:1px solid #FF6666;
  background-color:#EEB4B4;
  color:#8C1717;
  padding:1px 5px 1px 5px;
}
img.manageProfileIcon
{
  border:1px solid black;
  float:right;
  margin:0px 10px 0px 0px;
  max-width:100px;
}

/* Toggling */
div.toggleOn
{
  cursor:pointer;
  min-width:32px;
  min-height:32px;
  position:relative;
}
div.toggleOff
{
  cursor:pointer;
  min-width:32px;
  min-height:32px;
  position:relative;
}
div.toggleOn div.toggledStatusDisplay, div.toggleOff div.toggledStatusDisplay
{
  position:absolute;
  top:5px;
  left:5px;
  width:32px;
  height:32px;
}
div.toggleOn div.toggledStatusDisplay
{
  background:url('toggled-on.png') no-repeat top left;
}
div.toggleOff div.toggledStatusDisplay
{
  background:url('toggled-off.png') no-repeat top left;
}

div.explainButton
{
  float:right;
  width:100px;
  height:20px;
  background:url('images/explain-button.png') no-repeat top left;
  cursor:pointer;
  margin-right:10px;
  margin-top:1px;
}

.unpublished
{
  font-weight:bold;
  color:#ff0000;
}
.awaitingFeaturing, .moderator
{
  font-weight:bold;
  color:#F0A804;
}

/* Featuring */
img.featureHeaderCropBox
{
  border:1px solid black;
  max-width:300px;
  max-height:300px;
}