/* Lookup Main */
div.lookupSearchBox
{
  width:600px;
  margin-left:auto;
  margin-right:auto;
}
div.lookupSearchBox input
{
  width:100%;
  margin-top:5px;
  margin-bottom:5px;
  border:1px solid #708090;
  font-size:125%;
  padding-left:5px;
  padding-right:5px;
}
div.lookupResultsContainer
{
  padding:5px;
  border-top:1px solid #708090;
  margin:5px;
}
div.lookupResultsContainer div.noResults
{
  margin-top:10px;
  font-weight:bold;
  text-align:center;
  margin-bottom:10px;
}
div.lookupResultsContainer div.resultContainer
{
  border:1px solid #708090;
  margin-bottom:5px;
  position:relative;
  min-height:110px;
  padding-left:125px;
}
div.lookupResultsContainer div.canEdit
{

}
div.lookupResultsContainer div.resultContainer div.identifier
{
  width:110px;
  border-right:1px solid #708090;
  font-weight:bold;
  padding:5px;
  text-align:center;
  background-color:#D3D3D3;
  margin-right:5px;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
}
div.lookupResultsContainer div.canEdit div.identifier { background-color:#C3E4ED; }
div.lookupResultsContainer div.resultContainer div.identifier img
{
  border:1px solid #708090;
  width:60px;
  height:60px;
}
div.lookupResultsContainer div.canEdit a.edit
{
  display:block;
  text-align:center;
  margin-top:10px;
  font-weight:bold;
  font-size:120%;
}