/* Requests */
table.requestTable
{
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
}
table.requestTable tr.header td
{
  text-align:center;
  font-weight:bold;
  border-bottom:1px solid black;
}
table.requestTable td
{
  text-align:center;
  width:20%;
  border-bottom:1px dotted gray;
}
table.requestTable td.content { text-align:left; width:40%; }

/* Staff Listing */
div.staffTable
{
  width:700px;
}
div.staffTable a.staffRow
{
  display:block;
  width:650px;
  border:0px;
  border-bottom:1px solid black;
}
div.staffTable a.staffRow.active { background-color:#C3E4ED; border-color:#33A1DE; }
div.staffTable a.staffRow.inactive { background-color:#9AC0CD; border-color:#5D92B1; }
div.staffTable a.staffRow * { display:inline-block; }
div.staffTable div.header
{
  border-bottom:1px solid #236B8E;
  background-color:#5D92B1;
}
div.staffTable div.identity
{
  width:100px;
  text-align:center;
  font-weight:bold;
}
div.staffTable div.header div.icon { width:65px; float:left; }
div.staffTable img.icon
{
  border:1px solid black;
  width:45px;
  margin-right:20px;
  float:left;
}
div.staffTable div.name
{
  text-align:right;
  font-weight:bold;
  width:200px;
  border-right:1px solid black;
  padding:3px 2px 3px 0px;
  max-width:200px;
}

/* Change Permissions */
div.permissionsManageContainer
{
  border:1px solid black;
  width:650px;
}
div.permissionsManageContainer div.permissionManageRow
{
  height:20px;
  border-bottom:1px solid black;
}
div.permissionsManageContainer div.permissionManageRow.last { border-bottom:none; }
div.permissionsManageContainer div.permissionManageRow div.name
{
  float:left;
  text-align:center;
  font-weight:bold;
  border-right:1px solid black;
  width:150px;
  padding-top:4px;
  padding-bottom:3px;
  background-color:#9AC0CD;
}
div.permissionsManageContainer div.permissionManageRow div.level
{
  float:left;
  height:20px;
  width:132px;
  border-right:1px solid black;
  cursor:pointer;
}
div.permissionsManageContainer div.permissionManageRow div.level.none.authNone { background-color:#FF6666; }
div.permissionsManageContainer div.permissionManageRow div.level.contributor.authNone { border-right-color:white; }

div.permissionsManageContainer div.permissionManageRow div.level.none.authContributor
{
  background-color:#FBEC5D;
  border-right-color:#EE9A00;
  border-right-style:dotted;
}
div.permissionsManageContainer div.permissionManageRow div.level.contributor.authContributor { background-color:#FBEC5D; }

div.permissionsManageContainer div.permissionManageRow div.level.none.authModerator,
	div.permissionsManageContainer div.permissionManageRow div.level.contributor.authModerator
{
  background-color:#66FF66;
  border-right-color:#699864;
  border-right-style:dotted;
}
div.permissionsManageContainer div.permissionManageRow div.level.moderator.authModerator
{
  background-color:#66FF66;
}
div.permissionsManageContainer div.permissionManageRow div.authorization
{
  float:left;
  width:100px;
  text-align:center;
  padding-top:4px;
  padding-bottom:3px;
  background-color:#C3E4ED;
}