form { margin:0px; padding:0px; }
iframe.formFrame
{
  float:right;
  width:200px;
  height:200px;
  display:none;
  border:0px;
  margin-right:7px;
  text-align:center;
}
div.createForm
{
  margin-left:20px;
  margin-right:220px;
}
div.createForm.noWindow
{
  margin-right:20px;
}
div.createForm div.formLabel
{
  font-weight:bold;
}
.formComponentValid
{
  background:#9BCD9B url('valid-tick.png') no-repeat right bottom;
  color:#2F4F2F;
  font-weight:bold;
  border:1px solid #2F4F2F;
}
.formComponentInProgress
{
  font-weight:bold;
  border:1px solid #F0A804;
  color:#F0A804;
  background:#FFEC8B url('images/in-progress-icon.png') no-repeat right bottom;
}
.formComponentInvalid
{
  background:#FFCCCC url('invalid-x.png') no-repeat right bottom;
  color:#660000;
  font-weight:bold;
  border:1px solid #660000;
}

img.imageCropBox
{
  border:1px solid black;
  max-width:300px;
}

div.createForm input.inputCheckbox
{
  position:relative;
  top:3px;
}
  
/* Input - Text */
div.createForm input.inputText
{
  font-size:12px;
  border:1px solid #708090;
  color:#708090;
  width:100%;
}
div.createForm input.inputText.formComponentValid
{
  color:#2F4F2F;
  border-color:#2F4F2F;
}

/* Input - Button */
input.submitButton, input.inputButton
{
  font-weight:bold;
  text-align:center;
  padding:3px 15px 3px 15px;
  border:1px solid #708090;
  color:#708090;
  background-color:#C6E2FF;
  cursor:pointer;
}
input.buttonGreen { color:#3B5323; border-color:#3B5323; background-color:#C0D9AF; }
input.buttonRed { color:#8B0000; border-color:#8B0000; background-color:#FFCCCC; }
input.submitButton:disabled, input.inputButton:disabled
{
  background-color:#CFCFCF;
  color:#808080;
  border-color:#808080;
  cursor:default;
}

/* Input - File */
div.createForm div.inputFile
{
  width:100%;
  height:20px;
  position:relative;
  margin-top:2px;
}
div.createForm div.inputFile.formComponentValid, div.createForm div.inputFile.formComponentInvalid, div.createForm div.inputFile.formComponentInProgress
{
  background:none;
  border:none;
}
div.createForm div.inputFile div.button
{
  font-size:12px;
  border:1px solid #708090;
  color:#708090;
  padding:2px 10px 0px 10px;
  background-color:#C6E2FF;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  width:70px;
  text-align:center;
}
div.createForm div.inputFile.formComponentValid div.button
{
  border:1px solid #2F4F2F;
  color:#2F4F2F;
  background-color:#86C67C;
}
div.createForm div.inputFile.formComponentInvalid div.button
{
  border:1px solid #660000;
  color:#660000;
  background-color:#FF6A6A;
}
div.createForm div.inputFile.formComponentInProgress div.button
{
  border:1px solid #F0A804;
  color:#F0A804;
  background-color:#FFEC8B;
}
div.createForm div.inputFile div.textBox
{
  position:absolute;
  top:0px;
  left:0px;
  right:97px;
  bottom:0px;
  border:1px solid black;
  padding-top:3px;
}
div.createForm div.inputFile.formComponentValid div.textBox
{
 border:1px solid #2F4F2F;
 color:#2F4F2F;
 font-weight:bold;
 background:#9BCD9B url('valid-tick.png') no-repeat right bottom;
 overflow:hidden;
 padding:3px 26px 0px 0px;
}
div.createForm div.inputFile.formComponentInvalid div.textBox
{
  border:1px solid #660000;
  color:#660000;
  font-weight:bold;
  background:#FFCCCC url('invalid-x.png') no-repeat right bottom;
  overflow:hidden;
  padding:3px 26px 0px 0px;
}
div.createForm div.inputFile.formComponentInProgress div.textBox
{
  font-weight:bold;
  border:1px solid #F0A804;
  color:#F0A804;
  background:#FFEC8B url('images/in-progress-icon.png') no-repeat right bottom;
  overflow:hidden;
  padding:3px 26px 0px 0px;
}
div.createForm div.inputFile input.inputFile
{
  position:absolute;
  top:0px;
  left:0px;
  z-index:2;
  color:#708090;
  font-size:12px;
  width:100%;
  opacity:0.0;
  filter:alpha(opacity=0);
  cursor:pointer;
}

/* Input - Select */
select.inputSelect
{
  border:1px solid #708090;
}
select.selectLeft
{
  width:180px;
  float:left;
}
div.noWindow select.selectLeft { width:230px; }
select.selectRight
{
  width:260px;
  margin-left:10px;
  float:right;
}
div.noWindow select.selectRight { width:410px; }