div.manageWindow
{
  background:#4E78A0 url('window-background.png');
  position:absolute;
  top:20px;
  left:20px;
  width:200px;
  height:200px;
  border:1px solid black;
  padding:5px 6px 6px 5px;
}
div.windowBackScreen
{
  opacity:0.5;
  filter:alpha(opacity=50);
  background-color:black;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}
div.manageWindow div.frame
{
  border:1px solid black;
  background-color:white;
  width:100%;
  height:100%;
  overflow-y:auto;
}
div.manageWindow div.loading
{
  background:white url('../professional/loading-image.gif') no-repeat center center;
}
div.manageWindow div.closeButton
{
  position:absolute;
  left:-10px;
  top:-10px;
  width:30px;
  height:30px;
  background:white url('close-button.png') no-repeat center center;
  border:1px solid black;
  cursor:pointer;
  display:none;
}
div.manageWindow div.closeButtonHover { background-color:#B9D3EE; }
div.manageWindow div.windowHeader
{
  font-weight:bold;
  font-size:110%;
  border-bottom:1px solid #708090;
  padding:0px 5px 1px 15px;
  margin-bottom:8px;
  color:#708090;
}
div.manageWindow div.inputButton
{
  margin:10px auto 10px auto;
  width:100px;
  text-align:center;
  cursor:pointer;
  background-color:#C6E2FF;
  border:1px solid #3B6AA0;
  color:#517693;
  padding-bottom:1px;
}
div.manageWindow div.inputButtonHover { background-color:#F0F8FF; }

/* Notes */
div.manageWindow div.staffBit
{
  float:left;
  margin-right:5px;
  margin-bottom:5px;
  color:#708090;
  width:70px;
  max-width:70px;
  text-align:center;
}
div.manageWindow div.staffBit img.staffIcon
{
  width:60px;
  height:60px;
  border:1px solid #8DB6CD;
}
div.manageWindow div.staffBit div.staffName
{
  font-weight:bold;
  text-align:center;
}

/* Delete content */
div.manageWindow div.warning
{
  color:#FF0000;
}

/* In Process */
div.inProcessText
{
  font-weight:bold;
  text-align:center;
  font-size:150%;
  color:#708090;
}

/* Image Windows */
{
}
div.windowManagePictureContainer div.createForm
{
  padding-right:10px;
  border-right:1px solid black;
  padding-bottom:10px;
  height:231px;
  overflow-y:auto;
  max-height:231px;
}
div.windowManagePictureContainer div.preview
{
  float:right;
  width:100px;
  max-width:100px;
  text-align:center;
}
div.windowManagePictureContainer div.preview div.title
{
  font-weight:bold;
  text-align:center;
}
div.windowManagePictureContainer div.preview img.previewImage
{
  border:1px solid black;
  width:90px;
  max-width:90px;
}
div.windowManagePictureContainer div.preview img.previewIcon
{
  border:1px solid black;
  width:60px;
  max-width:60px;
}
div.windowManagePictureContainer div.preview div.caption
{
  font-size:80%;
  text-align:center;
}
div.windowManagePictureContainer div.uploadButtons
{
  clear:both;
  border-top:1px solid black;
  text-align:center;
  padding:4px 0px 2px 0px;
}