/* Upload */
iframe.formFrame img.uploadedComic
{
  border:1px solid black;
  max-width:150px;
  max-height:150px;
  margin-bottom:5px;
}
/* Listing */
div.comicListingContainer
{
}
div.comicListingContainer div.yearContainer
{
  margin:0px 10px 10px 10px;
}
div.comicListingContainer div.yearContainer div.yearHeader
{
  font-weight:bold;
  text-align:left;
  padding-left:20px;
  border-bottom:1px solid #708090;
  color:#708090;
  padding-bottom:1px;
  margin-bottom:5px;
}
div.comicListingContainer div.yearContainer a.comic
{
  display:inline-block;
  width:60px;
  height:60px;
  max-width:60px;
  max-height:60px;
  border:1px solid black;
  margin-bottom:4px;
  position:relative;
}
div.comicListingContainer div.yearContainer a.comic img.image
{
  max-width:100%;
  max-height:100%;
  width:100%;
  height:100%;
}
div.comicListingContainer div.yearContainer a.comic div.unpublished
{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color:#ff0000;/*#CD5555;*/
  opacity:0.6;
  filter:alpha(opacity='60');
}