/* Group Listing */
div.groupListingContainer
{
}
div.groupListingContainer div.groupContainer
{
}
div.groupListingContainer div.groupContainer div.groupType
{
  font-weight:bold;
}
div.groupListingContainer div.groupContainer a.group
{
  display:block;
  margin-left:15px;
}

/* Group Management */
div.subgroupContainer
{
  border:1px solid black;
  margin-top:5px;
  background-color:
}
div.subgroupContainer img.subgroupImage
{
  width:200px;
  border-right:1px solid black;
  float:left;
}
div.subgroupContainer div.title
{
  text-align:center;
  font-weight:bold;
  font-size:110%;
  margin-top:5px;
}
div.subgroupContainer div.link
{
  padding-left:205px;
  font-weight:bold;
}
div.subgroupContainer div.link img.icon
{
  position:relative;
  top:4px;
  left:1px;
}

/* Edit Roster */
div.editGroupRosterContainer
{
  height:300px;
  overflow-y:auto;
}
div.editGroupRosterContainer div.entry
{
  position:relative;
  min-height:40px;
  margin-bottom:3px;
}
div.editGroupRosterContainer div.odd { background-color:#C3E4ED; }
div.editGroupRosterContainer div.entry div.toggleButton
{
  position:absolute;
  top:0px;
  left:0px;
  width:40px;
  height:26px;
  border:1px solid black;
  cursor:pointer;
  font-weight:bold;
  text-align:center;
  padding-top:12px;
}
div.editGroupRosterContainer div.entry div.toggleButton { border-color:#0099CC; background-color:#9AC0CD; color:#0099CC; }
div.editGroupRosterContainer div.entry.open div.toggleButton.close { background-color:#FF6666; border-color:#CD0000; color:#CD0000; }
div.editGroupRosterContainer div.entry.open div.toggleButton.save { background-color:#C0D9AF; border-color:#488214; color:#488214; }
div.editGroupRosterContainer div.entry div.name
{
  margin-left:45px;
  font-weight:bold;
  text-decoration:underline;
}
div.editGroupRosterContainer div.entry div.position, div.editGroupRosterContainer div.entry div.grade
{
  margin-left:45px;
}
div.editGroupRosterContainer div.entry input, div.editGroupRosterContainer div.entry select { display:none; }
div.editGroupRosterContainer div.entry.open span { display:none; }
div.editGroupRosterContainer div.entry.open input, div.editGroupRosterContainer div.entry.open select { display:block; }