
manage\:button:before { content:"hi"; }
div.commandButton
{
  display:inline-block;
  height:20px;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
  padding:1px 10px 1px 13px;
  cursor:pointer;
  position:relative;
  margin-left:8px;
  font-size:15px;
  border-radius:2px;
}
div.commandButton img.icon
{
  position:absolute;
  top:-8px;
  left:-8px;
  background-color:white;
  border:1px solid black;
  width:16px;
  height:16px;
  border-radius:3px;
}
div.commandButton.red { background-color:red; }
div.commandButton.red:hover { background-color:pink; }