/* Browse */
table.database_records_table
{
  border-collapse:collapse;
  width:100%;
}
table.database_records_table tr.header td
{
  border-bottom:1px solid black;
  text-align:center;
  font-weight:bold;
  border-left:1px solid black;
  padding:0px 3px 0px 3px;
  border-top:1px solid black;
}
table.database_records_table tr.header td.first
{
  border-left:0px;
}
table.database_records_table tr.data_row
{
  font-size:90%;
}
table.database_records_table tr.data_row td
{
  max-height:20px;
  height:20px;
  overflow:hiden;
  text-align:center;
  border-left:1px dotted #8A8A8A;
  border-bottom:1px dotted #8A8A8A;
}
table.database_records_table tr.data_row td.first
{
  border-left:0px;
}