/* Reporting */
div.success
{
  border:1px solid #004F00;
  background-color:#90EE90;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
}
div.error
{
  border:1px solid #CD0000;
  background-color:#FF6666;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
}
div.notice
{
  border:1px solid #EEAD0E;
  background-color:#FFF68F;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
}

/* Generic Page Body */
html
{
  font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size:12px;
}
body
{
  margin:0px;
  background-color:#DEE0E0;
}
div.adminPageContainer
{
  background-color:#FFFFFF;
  margin:0px 30px 0px 30px;
  border:2px solid #E3EAEF;
  border-top:none;
}
div.adminPageContainer div.middlePageContainer
{
  border:1px solid #ADAFB1;
  border-top:none;
}
div.adminPageContainer div.innerPageContainer
{
  border:2px solid #F5F6F6;
  border-top:none;
}
div.adminPageContainer div.panelHeader
{
  border-bottom:2px solid #F5F6F6;
  margin-bottom:4px;
}
div.adminPageContainer div.panelHeader div.middleHeader
{
  border-bottom:1px solid #ADAFB1;
}
div.adminPageContainer div.panelHeader div.innerHeader
{
  border-bottom:2px solid #F5F6F6;
}
div.adminPageContainer div.panelHeader div.superscript
{
  text-align:center;
  font-weight:bold;
}
div.adminPageContainer div.panelHeader div.mainline
{
  font-weight:bold;
  text-align:center;
  font-size:250%;
}
div.adminPageContainer div.panelNavigation
{
  border-bottom:1px solid #ADAFB1;
  padding:3px;
  text-align:center;
}
div.adminPageContainer div.panelNavigation div.item
{
  display:inline-block;
  border:1px solid #2B2B2B;
  background-color:#F5F6F6;
  text-align:center;
  padding:0px 4px 0px 4px;
  color:#000000;
}
* html div.indexContainer div.majorStoryNavigation div.item, * + html div.indexContainer div.majorStoryNavigation div.item
{
  display:inline;
}
div.adminPageContainer div.panelPageContent
{
  padding:4px;
  text-align:left;
}

/* List Items */
div.list_item
{
 
}
div.list_item a:link, div.list_item a:visited, div.list_item a:active
{
  color:#517693;
  text-decoration:none;
  border-bottom:1px dotted #517693;
}
div.list_item a:hover
{
  color:#4682B4;
  border-bottom:1px solid #4682B4;
}
