/* Browsing */
div.filesystemBrowseLine
{
  margin-left:10px;
}
div.filesystemBrowseLine a:link, div.filesystemBrowseLine a:visited, div.filesystemBrowseLine a:active
{
  color:#698DA5;
  text-decoration:none;
}
span.itemActions
{
}
span.itemActions a:link, span.itemActions a:visited, span.itemActions a:active
{
  text-decoration:none;
  color:#698DA5;
}
span.itemActions a:hover
{
  text-decoration:none;
  color:#B74F98;
}
span.itemActions a img
{
  position:relative;
  top:3px;
  margin-right:1px;
  height:14px;
}

/* Editing */
table.code-editor
{
  border-collapse:collapse;
  width:100%;
}
table.code-editor td.line-number
{
  text-align:right;
  margin-right:2px;
  width:36px;
  font-size:11px;
  padding-top:1px;
}
table.code-editor td.code-area
{
  vertical-align:top;
}