div.adminViewNotice, div.adminViewBox
{
  text-align:center;
  border:2px solid #33A1DE;
  background-color:#B2DFEE;
  padding:2px;
}
div.adminViewNotice
{
  text-align:center;
}
div.adminViewBox
{
  text-align:left;
  margin-bottom:5px;
  font-size:90%;
}
div.adminViewBox span.action
{
  cursor:pointer;
  font-weight:bold;
  border-bottom:1px dotted black;
}
span.unpublishedMaterialNote
{
  color:red;
}
div.unpublishedMaterialNote
{
  background-color:#EEB4B4 !important;
}
img.unpublishedMaterialNote
{
  border-color:red;
  border:2px solid red;
  background-color:red;
}