/* Group Page */
div.groupContainer
{
  text-align:left;
  font-size:90%;
  padding-bottom:5px;
}
div.groupContainer img.groupImage
{
  border:1px solid black;
  background-color:white;
  padding:1px;
  max-width:95%;
  margin-top:7px;
  margin-bottom:7px;
}
div.groupContainer div.description
{
  margin-bottom:10px;
  text-align:center;
  font-size:90%;
}
div.groupContainer div.contentHeader
{
  font-weight:bold;
  border-bottom:1px solid black;
  margin-left:5px;
  width:50%;
  font-size:110%;
}
div.groupContainer a.groupRelated
{
  margin-left:10px;
}
div.groupSide
{
}
div.groupSide div.eventHeader
{
  font-weight:bold;
  text-align:center;
  border-bottom:1px solid black;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
}
div.groupSide div.eventSpecial
{
  font-weight:bold;
  margin-left:10px;
  font-size:90%;
}
div.groupSide div.eventSpecial span
{
  font-weight:normal;
}
div.groupSide div.eventTitle
{
  font-size:90%;
  font-weight:bold;
  margin-left:10px;
}
div.groupSide div.eventEntry
{
  margin-left:25px;
  font-size:90%;
  text-align:left;
}