html
{
  margin:0px;
  padding:0px;
  /*background:#F2FDC3 url('page-background.jpg');*/
  /*background-color:#426F42;*/
  overflow-y:scroll;
  font-family:verdana, arial, serif;
}
body
{
  margin:0px;
  padding:0px;
}
a
{
  text-decoration:none;
  color:#003300;
  border-bottom:1px dotted black;
}
a:hover
{
  color:#3B5E2B;
}

/* Site Header */
div.siteHeader
{
  width:100%;
  text-align:center;
  background:#548B54 url("title-background.png");
  height:90px;
}
div.siteHeader div.logo
{
  width:810px;
  height:90px;
  background:transparent url("new-header.png") no-repeat top left;
  margin-left:auto;
  margin-right:auto;
  cursor:pointer;
}

/* Site Navigation */
div.siteNavigation
{
  width:100%;
}
div.siteNavigation div.main
{
  background:#3A6629 url('site-navigation-main-background.jpg') repeat-x top left;
  height:30px;
  text-align:center;
  cursor:default;
}
div.siteNavigation div.main span.item, div.siteNavigation div.main span.itemHover, div.siteNavigation div.main span.itemLoadedHover
{
  border-right:1px solid #003300;
  border-left:1px solid #003300;
  cursor:pointer;
  width:100px;
  display:inline-block;
  font-size:14px;
  padding-top:5px;
  height:25px;
  font-weight:bold;
}
div.siteNavigation div.main span.itemHover
{
  background:#8CDD81 url('site-navigation-main-background-hover.jpg') repeat-x top left;
}
div.siteNavigation div.main span.loaded
{
  background:#9fdd91 url('site-navigation-main-background-loaded.jpg') repeat-x top left;
}
div.siteNavigation div.main span.itemLoadedHover
{
  background:#d5f7c9 url('site-navigation-main-background-loaded-hover.jpg') repeat-x top left;
}
div.siteNavigation div.local
{
  background-color:#86C67C;
  font-size:12px;
  padding-bottom:6px;
  border-bottom:1px solid #003300;
  min-height:12px;
  padding-top:4px;
}

/* Page Navigation */
table.pageNavigation
{
  border:1px solid #476A34;
  background-color:#93DB70;
  margin-bottom:5px;
  font-size:70%;
  border-collapse:collapse;
  height:20px;
  margin-left:auto;
  margin-right:auto;
  width:800px;
  margin-top:5px;
}
table.pageNavigation td
{
 width:33.33%;
}
table.pageNavigation td.center
{
  font-weight:bold;
  text-align:center;
}
table.pageNavigation td.left
{
  text-align:left;
  border-right-width:1px;
  border-right-style:solid;
  padding-left:10px;
}
table.pageNavigation td.right
{
  text-align:right;
  border-left-width:1px;
  border-left-style:solid;
  padding-right:10px;
}
table.pageNavigation td.active
{
  cursor:pointer;
  background-color:#CCFFCC;
  border-color:#3F9E4D;
}
table.pageNavigation td.activeHover
{
  cursor:pointer;
  background-color:#E0EEE0;
  border-color:#3F9E4D;
  font-weight:bold;
}
table.pageNavigation td.disabled
{
  cursor:default;
  color:#838B83;
  background-color:#C1CDC1;
  border-color:#838B83;
}

/* Content Body */
div.contentBody
{
  padding-top:5px;
}
div.contentBody div.content
{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  /*border:1px solid #003300;*/
}
div.topContentStrip
{
  text-align:right;
  padding-right:5px;
  border-bottom:1px solid #003300;
  font-weight:bold;
  background-color:#2F4F2F;
  font-size:90%;
  padding-bottom:1px;
}
div.topContentStrip a
{
  color:#7CCD7C;
  border-bottom:0px;
}
div.topContentStrip a:hover
{
  color:#9AFF9A;
}

/* Image-based list item */
div.listItem, div.listItemHover
{
  width:150px;
  border:1px solid black;
  background-color:white;
  cursor:pointer;
  display:inline-block;
  margin-top:3px;
}
* html div.listItem, * + html div.listItem, * html div.listItemHover, * + html div.listItemHover
{
  display:inline;
  margin-right:3px;
}
div.listItem
{
  opacity:0.6;
  filter:alpha(opacity=60);
}
div.listItem div, div.listItemHover div
{
  text-align:center;
  font-weight:bold;
  font-size:80%;
  height:32px;
  overflow:hidden;
  border-bottom:1px solid black;
  background-color:#71C671;
}
div.listItem img, div.listItemHover img
{
  max-width:150px;
  max-height:150px;
  height:150px;
  width:150px;
}

/* Related Group */
div.articleSide div.noResults
{
  text-align:center;
  margin-top:15px;
  font-size:80%;
}
/*div.articleSide ul.groupRelatedItems*/
ul
{
  padding:0px;
  margin-left:5px;
  list-style-type:none;
}
/*div.articleSide ul.groupRelatedItems li*/
ul li
{
  background:url('bullet-green.png') 0px 2px no-repeat;
  padding-left:16px;
  font-size:90%;
  margin-bottom:2px;
}
div.articleSide a.groupRelated
{ 
  /*display:block;
  font-size:90%;
  padding-left:16px;
  background:transparent url('bullet-green.png') no-repeat top left;*/
}

/* Feeds */
div.feedPanel
{
  float:right;
  width:270px;
  border-left:1px solid black;
  font-size:80%;
  text-align:left;
  padding:5px 5px 3px 5px;
  margin-bottom:8px;
}
div.feedPanel div.title
{
  text-align:center;
  font-weight:bold;
  border-bottom:1px dotted black;
}
div.feedPanel div.item
{
  margin-bottom:2px;
}
div.feedPanel div.item span.date
{
  font-size:70%;
  font-weight:bold;
}
div.feedPanel div.item img
{
  position:relative;
  top:2px;
  width:16px;
  height:16px;
  margin-right:4px;
}

/* Site Footer */
div.siteFooter
{
  background:#ade09f;
  border:1px solid #7da573;
  width:990px;
  font-size:70%;
  text-align:center;
  margin-bottom:25px;
  padding:5px;
}
div.siteFooter img.twitter
{
  float:left;
}