/* Multimedia Listing */
div.multimediaContainer
{
  margin-right:290px;
  margin-bottom:10px;
}
div.multimediaContainer div.frame
{
  float:right;
  width:225px;
  height:440px;
  overflow:hidden;
  font-size:90%;
  margin-left:10px;
}
div.multimediaContainer div.frame div.header
{
  font-weight:bold;
  border-bottom:2px solid #004F00;
  padding-right:10px;
  text-align:right;
  margin-bottom:5px;
}
div.multimediaContainer div.frame div.header span
{
  display:inline-block;
  background-color:#004F00;
  /*color:#98FB98;*/
  color:white;
  padding-left:5px;
  padding-right:5px;
}
div.multimediaContainer div.frame div.divider
{
  border-top:1px solid black;
  padding-top:2px;
  margin-top:2px;
  width:90%;
}
div.multimediaContainer div.frame div.all
{
  margin-top:4px;
  text-align:right;
  border-bottom:1px solid black;
  font-weight:bold;
  font-size:90%;
}
div.multimediaContainer div.frame img.comic
{
  max-width:80%;
  border:1px solid black;
  padding:1px;
  text-decoration:none;
}
div.multimediaContainer div.frame img.miniIcons
{
  border:1px solid black;
  padding:1px;
  width:50px;
}
div.multimediaContainer div.frame img.video
{
  max-width:80%;
  border:1px solid black;
  padding:1px;
}
div.multimediaContainer div.frame div.topContainer
{
  text-align:left;
  margin-bottom:2px;
}
div.multimediaContainer div.frame div.topContainer div.itemTitle
{
  font-weight:bold;
}
div.multimediaContainer div.frame div.topContainer div.itemCaption
{
  font-size:90%;
}
div.multimediaContainer div.frame div.entry, div.multimediaContainer div.frame div.entryLast
{
  font-size:90%;
  text-align:left;
  padding-bottom:3px;
  margin-bottom:2px;
}
div.multimediaContainer div.frame div.entry
{
  border-bottom:1px solid black;
}

div.multimediaListItem, div.multimediaListItemHover
{
  width:152px;
  border:1px solid black;
  background-color:white;
  cursor:pointer;
  display:inline-block;
  margin-top:3px;
}
div.multimediaListItem
{
  opacity:0.6;
  filter:alpha(opacity=60);
}
div.multimediaListItem div, div.multimediaListItemHover div
{
  text-align:center;
  font-weight:bold;
  font-size:80%;
  height:32px;
  overflow:hidden;
  border-bottom:1px solid black;
  background-color:#71C671;
}
div.multimediaListItem img, div.multimediaListItemHover img
{
  max-width:150px;
  max-height:150px;  
}

/* Comics */
div.articleContainer img.comic
{
  margin-top:10px;
  margin-bottom:10px;
  max-width:600px;
}
div.articleSide div.comicNavHeader, div.articleSide div.photoNavHeader
{
  font-weight:bold;
  border-bottom:1px solid black;
  padding-left:5px;
  margin-right:5px;
  margin-left:5px;
}
div.articleSide div.comicNavigation, div.articleSide div.photoNavigation
{
  min-height:150px;
  text-align:center;
}
div.articleSide div.comicNavigation img.comicIcon, div.articleSide div.photoNavigation img.photo
{
  max-width:95px;
  max-height:95px;
  border:1px solid black;
  background-color:white;
  padding:1px;
  margin-top:5px;
}

/* Photo Gallery */
div.galleryContainer
{
}
div.galleryContainer div.title
{
  padding-left:5px;
  text-align:left;
  font-weight:bold;
  border-bottom:1px solid #7da573;
  background-color:#85B479;
}
div.galleryContainer div.subtitle
{
  padding-left:5px;
  text-align:left;
  font-weight:bold;
  border-bottom:1px solid #7da573;
  background-color:#9BC191;
  font-size:70%;
}
div.galleryContainer img.icon
{
  max-width:95px;
  max-height:95px;
  background-color:white;
  border:1px solid black;
  padding:1px;
}

/* Photo */
div.articleContainer img.photo
{
  border:1px solid black;
  padding:1px;
  background-color:white;
  max-width:95%;
  margin-top:5px;
  margin-bottom:5px;
}
div.articleSide div.galleryHeader, div.articleSide div.groupHeader
{
  text-align:center;
  margin:5px 0px 5px 0px;
  font-size:80%;
}
div.articleSide div.galleryHeader a, div.articleSide div.groupHeader a
{
  font-weight:bold;
  border-bottom:1px solid #7da573;
  font-size:125%;
}

/* Video */
a.video
{
  display:block;
  width:600px;
  height:459px;
  margin-top:5px;
  margin-bottom:5px;
  border:1px solid black;
  background-color:white;
  padding:1px;
}
div.articleContainer div.caption
{
  font-size:80%;
  text-align:left;
  border-top:1px solid black;
  padding-top:5px;
  margin:0px 5px 5px 5px;
  padding:5px 10px 0px 5px;
}

/* Audio and Sound Slides*/
div.articleContainer div.audio, div.articleContainer div.audioContainer object
{
  margin-top:5px;
  margin-bottom:5px;
  width:600px;
  border:1px solid black;
  background-color:white;
  padding:2px;
  text-align:right;
  font-size:80%;
  display:block inline;
}
div.articleContainer div.soundSlideContainer
{
  margin-bottom:10px;
}
div.articleContainer div.soundSlideContainer div.slideImage
{
  position:relative;
  border:1px solid black;
  height:500px;
  width:500px;
  background-repeat:no-repeat;
  background-position:center;
}
div.articleContainer div.soundSlideContainer div.slideImage div.slideCaption
{
  background-color:white;
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  color:black;
  opacity:0.85;
  filter:alpha(opacity=85);
  border-top:1px solid black;
  padding:3px;
}
div.articleContainer div.soundSlideContainer div.slideAudio
{
  width:500px;
  height:30px;
  border:1px solid black;
  border-top:0px;
}
div.articleContainer div.audioContainer div.soundSlideImage
{
  border:1px solid black;
  background-color:white;
  width:502px;
  height:502px;
  max-height:502px;
  max-width:502px;
  margin-top:5px;
  position:relative;
  background-repeat:no-repeat;
  background-position:1px 1px;
}