/* New News Listing */
div.newsListing
{
}
div.newsListing div.listingTitle
{
  text-align:center;
}
div.newsListing div.listingTitle div.super
{
  font-size:80%;
  position:relative;
  top:3px;
}
div.newsListing div.listingTitle div.main
{
  font-weight:bold;
  font-size:175%;
  border-bottom:1px solid black;
  margin-left:200px;
  margin-right:200px;
}
div.newNavigation
{
  text-align:right;
  font-size:95%;
  margin:5px 0px 5px 0px;
}
div.newsListing div.header
{
  border-bottom:1px solid #aaa;
  border-top:1px solid #aaa;
  background-color:#D3D3D3;
  font-size:70%;
  padding:2px 0px 2px 0px;
  text-align:left;
}
div.newsListing div.header div.category
{
  margin-left:10px;
  width:120px;
  text-align:center;
  display:inline-block;
}
div.newsListing div.header div.image
{
  margin-left:5px;
  margin-right:5px;
  width:74px;
  text-align:center;
  display:inline-block
}
div.newsListing div.header div.title
{
  width:606px;
  display:inline-block;
  text-align:center;
}
div.newsListing div.header div.time
{
  width:150px;
  display:inline-block;
  text-align:center;
}
div.newsListing div.header *
{
  display:inline;
}
div.newsListing div.article
{
  padding:3px 0px 1px 0px;
  text-align:left;
  height:62px;
  width:1000px;
}
div.newsListing div.even
{
}
div.newsListing div.odd
{
  background-color:#DEDEDE;
}
div.newsListing div.article div.category
{
  margin-left:10px;
  width:120px;
  text-align:center;
  font-size:70%;
  font-weight:bold;
  display:inline-block;
  height:58px;
  vertical-align:top;
  padding-top:21px;
}
div.newsListing div.article div.image
{
  margin-left:5px;
  margin-right:5px;
  width:74px;
  text-align:center;
  display:inline-block;
  height:58px;
  vertical-align:top;
}
div.newsListing div.article div.image img
{
  height:58px;
  border:1px solid black;
  width:74px;
}
div.newsListing div.article div.title
{
  font-size:70%;
  display:inline-block;
  width:606px;
  height:58px;
  vertical-align:top;
  overflow:hidden;
}
div.newsListing div.article div.title a.title
{
  font-weight:bold;
  font-size:130%;
}
div.newsListing div.article div.time
{
  width:150px;
  text-align:center;
  font-size:70%;
  display:inline-block;
  font-weight:bold;
  height:58px;
  vertical-align:top;
  padding-top:21px;
}
* html div.newsListing div.article *, * + html div.newsListing div.article *
{
  display:inline;
}


/* News Listing */
div.articleListingContainer, div.articleListingContainerHover
{
  border:1px solid #31B94D;
  text-align:left;
  margin-left:15px;
  margin-right:15px;
  background-color:#CCFFCC;
  margin-bottom:10px;
  cursor:pointer;
}
div.articleListingContainerHover
{
  background-color:#F0FFF0;
}
div.articleListingContainer div.articleImage, div.articleListingContainerHover div.articleImage
{
  float:left;
  width:105px;
  max-width:105px;
  border-right:1px solid #31B94D;
  text-align:center;
  margin-right:5px;
  background-color:#B4EEB4;
}
div.articleListingContainer div.articleImage img, div.articleListingContainerHover div.articleImage img
{
  max-width:93px;
  max-height:69px;
  border:1px solid black;
  background-color:white;
  padding:1px;
  margin:2px;
}
div.articleListingContainer div.title, div.articleListingContainerHover div.title
{
  font-weight:bold;
}
div.articleListingContainer div.subtitle, div.articleListingContainerHover div.subtitle
{
  font-size:70%;
}
div.articleListingContainer div.subtitle b, div.articleListingContainerHover div.subtitle b
{
  color:#00611C;
}

/* News Article */
div.articleContainer
{
  margin-right:300px;
  border-right:1px solid #7da573;
}
div.articleContainer div.title
{
  text-align:left;
  font-weight:bold;
  font-size:150%;
  padding-left:5px;
}
div.articleContainer div.subtitle
{
  text-align:left;
  margin-bottom:10px;
  font-size:70%;
  padding-left:5px;
}
div.articleContainer div.article
{
  text-align:left;
  padding:5px;
  font-size:90%;
}
div.articleContainer div.article p
{
  text-indent:25px;
}
div.articleContainer div.image
{
  border:1px solid black;
  background-color:white;
  padding:1px;
  font-size:70%;
  max-width:300px;
  width:300px;
}
div.articleContainer div.left { float:left; margin-right:5px; }
div.articleContainer div.right { float:right; margin-left:5px; }
div.articleContainer div.image img
{
  border-bottom:1px solid black;
  padding-bottom:1px;
  margin-bottom:1px;
  max-width:300px;
}
div.articleContainer div.image span.credit
{
  color:#828282;
}
div.articleSide
{
  float:right;
  width:300px;
  text-align:left;
  padding-top:5px;
}
div.articleSide div.authorInfo
{
  border-bottom:1px solid black;
  padding-bottom:5px;
  margin-bottom:5px;
  margin-left:10px;
  margin-right:5px;
}
div.articleSide div.sectionHeader
{
  border-bottom:1px solid black;
  font-weight:bold;
  font-size:90%;
  margin-left:5px;
  margin-right:5px;
  margin-top:13px;
  padding-bottom:3px;
}
div.articleSide img.staffPicture
{
  background-color:white;
  border:1px solid black;
  float:left;
  padding:1px;
  margin:0px 5px 5px 5px;
}
div.articleSide div.otherHeader
{
  font-weight:bold;
  font-size:90%;
  padding-left:5px;
}
div.articleSide ul
{
  margin:0px;
  margin-bottom:10px;
}

/* Topic */
div.topicContainer
{
  text-align:left;
  border-right:0px;
}
div.topicContainer div.title
{
  text-align:center;
  border-bottom:1px solid black;
  margin:0px 40px 10px 40px;
}
div.topicSide
{
  border-left:1px solid #7da573;
  font-size:90%;
  text-align:center;
  padding:8px 2px 8px 2px;
}