html
{
  margin:0px;
  padding:0px;
  /*background:#F2FDC3 url('page-background.jpg');*/
  background-color:#CFDBC5;
  font-family:verdana, arial, serif;
}
body
{
  margin:0px;
  padding:0px;
}

div.siteLogo
{
  position:absolute;
  top:10px;
  left:10px;
  right:10px;
  height:130px;
  text-align:center;
  overflow:hidden;
  font-size:400%;
  font-weight:bold;
}
div.mainContainer
{
  position:absolute;
  top:150px;
  bottom:100px;
  left:100px;
  right:100px;
  border:2px solid #699864;
  background-color:#C5E3BF;
  padding:5px;
}
div.mainContainer div.header
{
  font-weight:bold;
  font-size:110%;
}
div.mainContainer div.explication
{
  margin-left:5px;
  margin-right:5px;
  margin-bottom:10px;
}
div.mainContainer div.finalNote
{
  text-align:center;
  margin:0px 30px 10px 30px;
  font-size:150%;
}
div.mainContainer div.finalNote span
{
  color:red;
  font-weight:bold;
}