div.adminViewNotice, div.adminViewBox
{
  text-align:center;
  border:1px solid #33A1DE;
  padding:5px;
  margin:5px;
  font-size:80%;
  /*background:#B2DFEE url('icon-admin-view.png') 0px -16px no-repeat;*/
  background-color:#B2DFEE;
}
div.adminViewNotice
{
  text-align:center;
}
div.adminViewBox
{
  text-align:left;
  margin-bottom:5px;
  font-size:90%;
  clear:both;
  margin-top:5px;
}
div.adminViewBox span.action
{
  cursor:pointer;
  font-weight:bold;
  border-bottom:1px dotted black;
}
span.unpublishedMaterialNote, span.unpublishedMaterialNote a
{
  color:red;
}
div.unpublishedMaterialNote
{
  background-color:#EEB4B4 !important;
}
img.unpublishedMaterialNote
{
  border-color:red;
  border:2px solid red;
  background-color:red;
}

/* Management Box */
div.managementBox
{
  background-color:white;
  border:1px solid #00688B;
  position:relative;
  margin:10px;
  text-align:left;
  font-size:80%;
  padding-top:10px;
  padding-bottom:5px;
}
div.managementBox div.title
{
  background-color:#4A708B;
  border:2px solid #00688B;
  position:absolute;
  top:-10px;
  left:-10px;
  text-align:center;
  font-weight:bold;
  padding:0px 5px 0px 5px;
  cursor:default;
  border-radius:5px;
  color:white;
  font-size:110%;
}
div.managementBox div.label
{
  font-weight:bold;
  margin-left:5px;
  text-decoration:underline;
}
div.managementBox div.item
{
  margin-left:15px;
  font-size:90%;
}
div.managementBox div.item span
{
  font-weight:bold;
}
div.managementBox div.actionsContainer
{
  float:right;
  width:200px;
}
div.managementBox div.actionsContainer .fauxLink { color:#708090; cursor:pointer; }
div.managementBox div.actionsContainer .fauxLink:hover { color:#7AC5CD; cursor:pointer; }

/* Manage Windows */
div.manageWindow
{
  background:#4E78A0 url('../horizons-management/window-background.png');
  position:absolute;
  top:20px;
  left:20px;
  width:200px;
  height:200px;
  border:1px solid black;
  padding:5px 6px 6px 5px;
  font-family:verdana, arial, serif;
  font-size:11px;
}
div.windowBackScreen
{
  opacity:0.5;
  filter:alpha(opacity=50);
  background-color:black;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}
div.manageWindow div.frame
{
  border:1px solid black;
  background-color:white;
  width:100%;
  height:100%;
  overflow-y:auto;
}
div.manageWindow div.loading
{
  background:white url('loading-image.gif') no-repeat center center;
}
div.manageWindow div.closeButton
{
  position:absolute;
  left:-10px;
  top:-10px;
  width:30px;
  height:30px;
  background:white url('../horizons-management/close-button.png') no-repeat center center;
  border:1px solid black;
  cursor:pointer;
  display:none;
}
div.manageWindow div.closeButtonHover { background-color:#B9D3EE; }
div.manageWindow div.windowHeader
{
  font-weight:bold;
  font-size:110%;
  border-bottom:1px solid #708090;
  padding:0px 5px 1px 15px;
  margin-bottom:8px;
  color:#708090;
}
div.manageWindow div.inputButton
{
  margin:10px auto 10px auto;
  width:100px;
  text-align:center;
  cursor:pointer;
  background-color:#C6E2FF;
  border:1px solid #3B6AA0;
  color:#517693;
  padding-bottom:1px;
}
div.manageWindow div.inputButtonHover { background-color:#F0F8FF; }

/* Notes */
div.manageWindow div.staffBit
{
  float:left;
  margin-right:5px;
  margin-bottom:5px;
  color:#708090;
  width:70px;
  max-width:70px;
  text-align:center;
}
div.manageWindow div.staffBit img.staffIcon
{
  width:60px;
  height:60px;
  border:1px solid #8DB6CD;
}
div.manageWindow div.staffBit div.staffName
{
  font-weight:bold;
  text-align:center;
}

/* Delete content */
div.manageWindow div.warning
{
  color:#FF0000;
}

/* In Process */
div.inProcessText
{
  font-weight:bold;
  text-align:center;
  font-size:150%;
  color:#708090;
}

div.manageWindow input.submitButton, div.manageWindow input.inputButton
{
  font-weight:bold;
  text-align:center;
  padding:3px 15px 3px 15px;
  border:1px solid #708090;
  color:#708090;
  background-color:#C6E2FF;
  cursor:pointer;
}
div.manageWindow input.buttonGreen { color:#3B5323; border-color:#3B5323; background-color:#C0D9AF; }
div.manageWindow input.buttonRed { color:#8B0000; border-color:#8B0000; background-color:#FFCCCC; }
div.manageWindow input.submitButton:disabled, div.manageWindow input.inputButton:disabled
{
  background-color:#CFCFCF;
  color:#808080;
  border-color:#808080;
  cursor:default;
}
div.manageWindow div.contentText
{
  text-align:center;
  font-weight:bold;
}
div.manageWindow div.contentText .specialText { color:#708090; }
div.manageWindow div.contentText .warning { color:#660000; }
div.manageWindow .separator { margin-top:10px; }
div.manageWindow .separatorBottom { margin-bottom:10px; }
div.manageWindow .miniSeparator { margin-top:3px; }
div.manageWindow .bottomBorder { border-bottom:1px solid black; padding-bottom:3px; }

div.manageWindow div.createForm div.inputFile
{
  width:100%;
  height:20px;
  position:relative;
  margin-top:2px;
}
div.manageWindow div.createForm div.inputFile.formComponentValid,
	div.manageWindow div.createForm div.inputFile.formComponentInvalid,
	div.manageWindow div.createForm div.inputFile.formComponentInProgress
{
  background:none;
  border:none;
}
div.manageWindow div.createForm div.inputFile div.button
{
  font-size:12px;
  border:1px solid #708090;
  color:#708090;
  padding:2px 10px 0px 10px;
  background-color:#C6E2FF;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  width:70px;
  text-align:center;
}
div.manageWindow div.createForm div.inputFile.formComponentValid div.button
{
  border:1px solid #2F4F2F;
  color:#2F4F2F;
  background-color:#86C67C;
}
div.manageWindow div.createForm div.inputFile.formComponentInvalid div.button
{
  border:1px solid #660000;
  color:#660000;
  background-color:#FF6A6A;
}
div.manageWindow div.createForm div.inputFile.formComponentInProgress div.button
{
  border:1px solid #F0A804;
  color:#F0A804;
  background-color:#FFEC8B;
}
div.manageWindow div.createForm div.inputFile div.textBox
{
  position:absolute;
  top:0px;
  left:0px;
  right:97px;
  bottom:0px;
  border:1px solid black;
  padding-top:3px;
}
div.manageWindow div.createForm div.inputFile.formComponentValid div.textBox
{
 border:1px solid #2F4F2F;
 color:#2F4F2F;
 font-weight:bold;
 background:#9BCD9B url('../horizons-management/valid-tick.png') no-repeat right bottom;
 overflow:hidden;
 padding:3px 26px 0px 0px;
}
div.manageWindow div.createForm div.inputFile.formComponentInvalid div.textBox
{
  border:1px solid #660000;
  color:#660000;
  font-weight:bold;
  background:#FFCCCC url('../horizons-management/invalid-x.png') no-repeat right bottom;
  overflow:hidden;
  padding:3px 26px 0px 0px;
}
div.manageWindow div.createForm div.inputFile.formComponentInProgress div.textBox
{
  font-weight:bold;
  border:1px solid #F0A804;
  color:#F0A804;
  background:#FFEC8B url('../horizons-management/images/in-progress-icon.png') no-repeat right bottom;
  overflow:hidden;
  padding:3px 26px 0px 0px;
}
div.manageWindow div.createForm div.inputFile input.inputFile
{
  position:absolute;
  top:0px;
  left:0px;
  z-index:2;
  color:#708090;
  font-size:12px;
  width:100%;
  opacity:0.0;
  filter:alpha(opacity=0);
  cursor:pointer;
}