/* Group Listing */
div.groupListContainer
{
  margin-bottom:15px;
}
div.groupListContainer div.sidebar
{
  float:right;
}
div.groupListContainer div.viewport
{
  margin-right:210px;
  font-size:90%;
  text-align:left;
}
div.groupListContainer div.viewport div.group-type-header
{
  font-weight:bold;
  border-bottom:1px solid black;
  margin:15px 210px 5px 0px;
}
div.groupListContainer div.viewport div.bar
{
  text-align:center;
  margin:5px 10px 5px 10px;
  background-color:#E5E5E5;
  border:1px solid #ABABAB;
}
div.groupListContainer div.viewport a
{
  border-bottom:none;
}
div.groupListContainer div.viewport a div.group
{
  width:70px;
  height:70px;
  max-width:70px;
  max-height:70px;
  display:inline-block;
  border:1px solid black;
  position:relative;
  display:block-inline;
}
* html div.groupListContainer div.viewport a div.group,
	* + html div.groupListContainer div.viewport a div.group
	{
	  display:inline;
	}
div.groupListContainer div.viewport a div.group img.groupIcon
{
  max-width:70px;
  width:70px;
  max-height:70px;
  height:70px;
  background-image:url('loading-image.gif');
  background-position:14px 14px;
  background-repeat:no-repeat;
  border:none;
}
div.groupListContainer div.viewport a div.group div.groupTitle
{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  background-color:white;
  filter:alpha(opacity=85);
  opacity:0.85;
  text-align:center;
  font-size:70%;
  color:black;
  overflow:hidden;
  padding-top:5px;
}
div.groupListContainer div.viewport img.inactiveGroup
{
  filter:alpha(opacity=40);
  opacity:0.4;
}
div.groupListContainer div.viewport div.no-results
{
  text-align:center;
  margin:20px 0px 10px 0px;
}

/* Group Page New */
div.groupPageContainer
{
  margin:10px 0px 10px 0px;
  text-align:left;
}
div.groupPageContainer img.groupIcon
{
  border:1px solid black;
  float:left;
}
div.groupPageContainer img.groupIcon
{
  width:100px;
  height:100px;
}
div.groupPageContainer div.name
{
  font-weight:bold;
  font-size:200%;
  margin-left:110px;
}
div.groupPageContainer div.subtitle
{
  margin-left:125px;
}
div.groupPageContainer div.tabs
{
  margin-top:10px;
  position:relative;
  top:1px;
  margin-left:102px;
  text-align:center;
}
div.groupPageContainer div.tabs div.tab
{
  display:inline-block;
  margin:0px 5px 0px 10px;
  border:1px solid black;
  border-bottom:none;
  padding:0px 5px 0px 5px;
  width:125px;
  text-align:center;
  cursor:pointer;
  background-color:#C0D9AF;
}
div.groupPageContainer div.tabs div.selected
{
  font-weight:bold;
  cursor:default;
  border-bottom:1px solid white;
  background-color:white;
}
div.groupPageContainer div.tabPage
{
  border-top:1px solid black;
  background-color:white;
  padding:5px;
  margin-left:102px;
}
div.groupPageContainer div.tabPage div.groupInfoItem
{
  font-size:80%;
  margin-left:10px;
}
div.groupPageContainer div.tabPage div.groupDescription
{
  margin:10px 15px 10px 15px;
  padding:10px 0px 10px 0px;
  font-style:italic;
}
div.groupPageContainer div.tabPage img.groupImage
{
  border:1px solid black;
  margin-bottom:10px;
}
div.groupPageContainer div.tabPage div.groupInfoLastUpdated
{
  text-align:center;
  font-size:90%;
  color:#5C5C5C;
}
div.groupPageContainer div.tabPage div.rosterHeader
{
  text-align:center;
  font-weight:bold;
  margin:0px 15px 0px 15px;
  font-size:150%;
}
div.groupPageContainer div.tabPage div.rosterSubgroupHeader
{
  text-align:center;
  font-weight:bold;
  margin:5px 45px 5px 45px;
  border-bottom:1px solid black;
  font-style:italic;
}
div.groupPageContainer div.tabPage img.rosterSubgroupImage
{
  float:left;
  width:500px;
}
div.groupPageContainer div.tabPage div.rosterSubgroupDivider
{
  height:20px;
  clear:both;
}
div.groupPageContainer div.tabPage div.rosterEntry
{
  font-size:75%;
  margin-left:510px;
}
div.groupPageContainer div.tabPage div.rosterNoResults
{
  margin-top:30px;
  margin-bottom:20px;
}
div.groupPageContainer div.tabPage div.relatedContent
{
  
}
div.groupPageContainer div.tabPage div.relatedContent div.relArticleContainer
{
  margin-right:680px;
}
div.groupPageContainer div.tabPage div.relatedContent div.relHeader
{
  font-weight:bold;
  margin:0px 15px 5px 15px;
  border-bottom:1px solid black;
}
div.groupPageContainer div.tabPage div.relatedContent div.article
{
  padding:3px 0px 1px 0px;
  text-align:left;
  height:62px;
  width:680px;
}
div.groupPageContainer div.tabPage div.relatedContent div.even
{
}
div.groupPageContainer div.tabPage div.relatedContent div.odd
{
  background-color:#DEDEDE;
}
div.groupPageContainer div.tabPage div.relatedContent div.article div.image
{
  margin-left:5px;
  margin-right:5px;
  width:74px;
  text-align:center;
  display:inline-block;
  height:58px;
  vertical-align:top;
}
div.groupPageContainer div.tabPage div.relatedContent div.article div.image img
{
  height:58px;
  border:1px solid black;
  width:74px;
}
div.groupPageContainer div.tabPage div.relatedContent div.article div.articleBody
{
  font-size:70%;
  display:inline-block;
  width:435px;
  height:58px;
  vertical-align:top;
  overflow:hidden;
}
div.groupPageContainer div.tabPage div.relatedContent div.article div.title
{
  height:18px;
  overflow:hidden;
}
div.groupPageContainer div.tabPage div.relatedContent div.article div.title a.title
{
  font-weight:bold;
  font-size:130%;
}
div.groupPageContainer div.tabPage div.relatedContent div.article div.time
{
  width:138px;
  text-align:center;
  font-size:70%;
  display:inline-block;
  font-weight:bold;
  height:58px;
  vertical-align:top;
  padding-top:21px;
  margin-left:5px;
}
* html div.groupPageContainer div.tabPage div.relatedContent div.article *, * + html div.groupPageContainer div.tabPage div.relatedContent div.article *
{
  display:inline;
}
div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer
{
  float:right;
  border-left:1px solid black;
  width:207px;
}
div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer a.mediaIconLink
{
  border-bottom:0px;
  color:black;
}
div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer div.mediaIcon
{
  width:70px;
  height:70px;
  max-width:70px;
  max-height:70px;
  display:inline-block;
  border:1px solid black;
  margin:3px 0px 3px 3px;
  position:relative;
}
* html div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer div.mediaIcon,
	* + html div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer div.mediaIcon
	{
	  display:inline;
	}
div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer div.mediaIcon img.mediaImage
{
  max-width:70px;
  max-height:70px;
  width:70px;
  height:70px;
  border:none;
}
div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer div.mediaIcon img.mediaType
{
  position:absolute;
  top:2px;
  left:2px;
  width:16px;
  height:16px;
  border:none;
}
div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer div.mediaIcon div.mediaTitle
{
  position:absolute;
  top:22px;
  left:1px;
  right:1px;
  bottom:1px;
  font-size:70%;
  text-align:center;
  overflow:hidden;
  vertical-align:center;
}
div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer div.mediaImageOverlay
{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  display:hidden;
}
div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer div.miCurrent
{
  background-color:white;
  opacity:0.9;
  filter:alpha(opacity=90);
  display:block;
}
div.groupPageContainer div.tabPage div.relatedContent div.relMediaContainer div.miPeripheral
{
  background-color:white;
  opacity:0.4;
  filter:alpha(opacity=40);
  display:block;
}
div.groupPageContainer div.tabPage div.relatedContent div.relContentNoResults
{
  margin-top:10px;
  text-align:center;
  margin-bottom:10px;
  font-size:90%;
}

/* Group Page */
div.groupContainer
{
  text-align:left;
  font-size:90%;
  padding-bottom:5px;
}
div.groupContainer img.groupImage
{
  border:1px solid black;
  background-color:white;
  padding:1px;
  max-width:95%;
  margin-top:7px;
  margin-bottom:7px;
}
div.groupContainer div.description
{
  margin-bottom:10px;
  text-align:center;
  font-size:90%;
}
div.groupContainer div.contentHeader
{
  font-weight:bold;
  border-bottom:1px solid black;
  margin-left:5px;
  width:50%;
  font-size:110%;
}
div.groupContainer a.groupRelated
{
  margin-left:10px;
}
div.groupSide
{
}
div.groupSide div.eventHeader
{
  font-weight:bold;
  text-align:center;
  border-bottom:1px solid black;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
}
div.groupSide div.eventSpecial
{
  font-weight:bold;
  margin-left:10px;
  font-size:90%;
}
div.groupSide div.eventSpecial span
{
  font-weight:normal;
}
div.groupSide div.eventTitle
{
  font-size:90%;
  font-weight:bold;
  margin-left:10px;
}
div.groupSide div.eventEntry
{
  margin-left:25px;
  font-size:90%;
  text-align:left;
}

div.newsListing
{
}
div.newsListing div.listingTitle
{
  text-align:center;
}
div.newsListing div.listingTitle div.super
{
  font-size:80%;
  position:relative;
  top:3px;
}
div.newsListing div.listingTitle div.main
{
  font-weight:bold;
  font-size:175%;
  border-bottom:1px solid black;
  margin-left:200px;
  margin-right:200px;
}

div.groupScheduleContainer div.header
{
  border-bottom:1px solid #aaa;
  border-top:1px solid #aaa;
  background-color:#D3D3D3;
  font-size:70%;
  padding:2px 0px 2px 0px;
  text-align:left;
}
div.groupScheduleContainer div.header div.date
{
  margin-left:12px;
  width:140px;
  text-align:center;
  display:inline-block;
}
div.groupScheduleContainer div.header div.time
{
  margin-left:5px;
  margin-right:5px;
  width:100px;
  text-align:center;
  display:inline-block;
}
div.groupScheduleContainer div.header div.title
{
  width:456px;
  display:inline-block;
  text-align:center;
}
div.groupScheduleContainer div.header div.location
{
  width:145px;
  display:inline-block;
  text-align:center;
}
div.groupScheduleContainer div.header *
{
  display:inline;
}
div.groupScheduleContainer div.entry
{
  padding:3px 0px 1px 0px;
  text-align:left;
  height:32px;
  width:888px;
}
div.groupScheduleContainer div.even
{
}
div.groupScheduleContainer div.odd
{
  background-color:#DEDEDE;
}
div.groupScheduleContainer div.entry div.date
{
  margin-left:10px;
  width:140px;
  text-align:center;
  font-size:70%;
  font-weight:bold;
  display:inline-block;
  height:28px;
  vertical-align:top;
  padding-top:7px;
}
div.groupScheduleContainer div.entry div.time
{
  margin-left:5px;
  margin-right:5px;
  width:100px;
  text-align:center;
  display:inline-block;
  height:21px;
  vertical-align:top;
  padding-top:7px;
  font-size:70%;
}
div.groupScheduleContainer div.entry div.title
{
  font-size:70%;
  display:inline-block;
  width:456px;
  height:28px;
  vertical-align:top;
  overflow:hidden;
}
div.groupScheduleContainer div.entry div.location
{
  margin-right:5px;
  width:145px;
  text-align:left;
  display:inline-block;
  height:28px;
  vertical-align:top;
  font-size:70%;
}
* html div.newsListing div.article *, * + html div.newsListing div.article *
{
  display:inline;
}