div.interactionsContainer
{
  margin-right:300px;
  text-align:left;
  margin-bottom:5px;
}
div.interactionsContainer div.title
{
  text-align:left;
  font-weight:bold;
  font-size:150%;
  border-bottom:1px solid #7da573;
  background-color:#85B479;
  padding-left:5px;
}
div.interactionsContainer div.subtitle
{
  text-align:left;
  border-bottom:1px solid #7da573;
  background-color:#9BC191;
  font-size:80%;
  padding-left:5px;
}
div.interactionsContainer div.responseCount
{
  text-align:center;
  margin-top:5px;
  font-weight:bold;
}

/* Polls */
div.interactionsContainer div.poll_question
{
  font-weight:bold;
  margin-top:3px;
}
div.progressBarContainer
{
  text-align:left;
}
div.progressBarContainer.short div.label
{
  display:inline;
}
div.progressBarContainer div.label
{
  margin-top:5px;
  font-size:90%;
}
div.progressBarContainer div.barContainer
{
  border:1px solid black;
  height:20px;
  background-color:#C5E3BF;
  position:relative;
  margin-left:20px;
}
div.progressBarContainer.short div.barContainer
{
  height:18px;
}
div.progressBarContainer div.barContainer div.bar
{
  background-color:#699864;
  border-right:1px solid black;
  height:100%;
}
div.progressBarContainer div.barContainer div.value
{
  position:absolute;
  top:1px;
  left:0px;
  height:20px;
  text-align:center;
  font-weight:bold;
}
div.progressBarContainer.short div.barContainer div.value
{
  height:18px;
  font-size:90%;
}