html
{
  margin:0px;
  padding:0px;
  /*background:#F2FDC3 url('page-background.jpg');*/
  /*background-color:#426F42;*/
  overflow-y:scroll;
  font-family:verdana, arial, serif;
}
body
{
  margin:0px;
  padding:0px;
}
a
{
  text-decoration:none;
  color:#003300;
}
a:hover
{
  color:#3B5E2B;
  border-bottom:1px dotted black;
}
a.no_underline
{
  border-bottom:none;
}

/* Site Header */
div.siteHeader
{
  width:100%;
  text-align:left;
  background:#548B54 url("title-background.png");
  margin-top:5px;
  border-top:1px solid #003300;
}
div.siteHeader div.logo
{
  width:870px;
  height:90px;
  margin:5px auto 5px auto;
  border-bottom:1px solid #003300;
  border-top:1px solid #003300;
  text-align:center;
}
div.siteHeader div.logo a:hover { border-bottom:0px; }
div.siteHeader div.logo img
{
  width:810px;
}

/* Site Navigation */
div.siteNavigation
{
  width:100%;
}
div.siteNavigation div.main
{
  /*background-color:#3A6629; url('site-navigation-main-background.jpg') repeat-x top left;*/
  height:30px;
  text-align:center;
  cursor:default;
  min-width:1000px;
}
div.siteNavigation div.main a.item, div.siteNavigation div.main a.itemLoaded, div.siteNavigation div.main a.itemHover, div.siteNavigation div.main a.itemLoadedHover
{
  cursor:pointer;
  width:100px;
  display:inline-block;
  font-size:14px;
  padding-top:5px;
  height:25px;
  font-weight:bold;
  border-bottom:0px;
  color:black;
  text-align:center;
  position:relative;
  background:url('navigation-rounded-tab.png') no-repeat top left; /*url('site-navigation-main-background.jpg') repeat-x top left;*/
}
div.siteNavigation div.main a.itemHover
{
  background:url('navigation-rounded-tab-hover.png') no-repeat top left;
/*  background:#8CDD81 url('site-navigation-main-background-hover.jpg') repeat-x top left;*/
}
div.siteNavigation div.main a.itemLoaded
{
  background:url('navigation-rounded-tab-loaded.png') no-repeat top left;
  /*background:#9fdd91 url('site-navigation-main-background-loaded.jpg') repeat-x top left;*/
}
div.siteNavigation div.main a.itemLoadedHover
{
  background:url('navigation-rounded-tab-loaded-hover.png') no-repeat top left;
/*  background:#d5f7c9 url('site-navigation-main-background-loaded-hover.jpg') repeat-x top left;*/
}
div.siteNavigation div.main div.obscurant { display:none; }
div.siteNavigation div.main a.itemHover div.obscurant, div.siteNavigation div.main a.itemLoadedHover div.obscurant
{
  height:1px;
  display:block;
  position:absolute;
  top:30px;
  left:1px;
  right:1px;
  background-color:#86C67C;
}
form.searchPanel
{
  position:absolute;
  top:0px;
  right:50px;
  width:330px;
  height:20px;
  margin:0px 20px 0px 0px;
  font-size:90%;
  padding:3px;
  text-align:center;
  font-weight:bold;
  cursor:pointer;
  background:transparent url("search_panel_collapsed.png") no-repeat; /* no-repeat 0px -30px;*/
}
form.searchPanel.open
{
  height:50px;
  background-image:url("search_panel_back.png");
  /*background-position:0px 0px;*/
}
form.searchPanel select.scope
{
  position:absolute;
  bottom:6px;
  left:5px;
  display:none;
}
form.searchPanel.open select.scope { display:block; }
form.searchPanel input.searchBox
{
  position:absolute;
  bottom:5px;
  right:15px;
  width:180px;
  display:none;
}
form.searchPanel.open input.searchBox { display:block; }

div.siteNavigation div.local
{
  background-color:#86C67C;
  font-size:12px;
  padding-bottom:6px;
  border-bottom:1px solid #003300;
  border-top:1px solid #003300;
  min-height:14px;
  padding-top:4px;
  text-align:center;
  padding-left:20px;
}
div.siteNavigation div.local div.localContainer
{
  display:none;
  width:1000px;
  overflow:hidden;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
div.siteNavigation div.local div.loadedLocal { display:block; }

/* Page Navigation */
table.pageNavigation
{
  border:1px solid #476A34;
  background-color:#93DB70;
  margin-bottom:5px;
  font-size:70%;
  border-collapse:collapse;
  height:20px;
  margin-left:auto;
  margin-right:auto;
  width:800px;
  margin-top:5px;
}
table.pageNavigation td
{
 width:33.33%;
}
table.pageNavigation td.center
{
  font-weight:bold;
  text-align:center;
}
table.pageNavigation td.left
{
  text-align:left;
  border-right-width:1px;
  border-right-style:solid;
  padding-left:10px;
}
table.pageNavigation td.right
{
  text-align:right;
  border-left-width:1px;
  border-left-style:solid;
  padding-right:10px;
}
table.pageNavigation td.active
{
  cursor:pointer;
  background-color:#CCFFCC;
  border-color:#3F9E4D;
}
table.pageNavigation td.activeHover
{
  cursor:pointer;
  background-color:#E0EEE0;
  border-color:#3F9E4D;
  font-weight:bold;
}
table.pageNavigation td.disabled
{
  cursor:default;
  color:#838B83;
  background-color:#C1CDC1;
  border-color:#838B83;
}

/* Content Body */
div.contentBody
{
  padding-top:5px;
}
div.contentBody div.content
{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  background-color:white;
  /*border:1px solid #003300;*/
}
div.topContentStrip
{
  text-align:right;
  padding-right:5px;
  font-weight:bold;
  font-size:80%;
  margin-bottom:15px;
}
div.topContentStrip a
{
  border-bottom:none;
}

/* Page Styling */
div.pageHeader
{
  font-size:200%;
  font-weight:bold;
  text-align:center;
  margin:0px 20px 8px 20px;
  border-bottom:1px solid black;
}

/* Sidebar */
div.sidebar
{
  text-align:left;
  float:left;
  width:200px;
  border:1px solid #8FBC8F;
  padding:4px;
  background-color:#CCFFCC;
  font-size:80%;
}
div.sidebar div.header
{
  font-weight:bold;
  margin-left:10px;
  margin-right:10px;
  border-bottom:1px solid black;
  text-align:center;
}
div.sidebar input.search
{
  font-size:90%;
  margin:4px 5px 10px 5px;
  border:1px solid black;
  padding:2px;
  width:184px;
}
div.sidebar input.empty
{
  color:#5C5C5C;
}
div.sidebar div.item
{
  cursor:pointer;
}
div.sidebar .selectedItem
{
  font-weight:bold;
  cursor:pointer;
}

/* Page content container (for use with sidebar specific content) */
div.specContentContainer
{
  margin-right:300px;
  text-align:left;
}
div.specContentContainer.noSidebar { margin-right:0px; }
div.specContentContainer div.title
{
  font-weight:bold;
  font-size:120%;
}
div.specContentContainer div.subtitle
{
  font-size:70%;
  color:#696969;
  padding-left:10px;
  margin-bottom:15px;
}
div.specContentContainer div.subtitle span.content-type
{
  color:black;
  font-weight:bold;
}
div.specContentContainer div.subheader
{
  font-weight:bold;
  border-bottom:1px solid #696969;
  padding-left:10px;
  font-size:90%;
  margin:10px 0px 10px 0px;
}

/* Sidebars (specific content) */
div.sidebarSpecContent
{
  float:right;
  width:300px;
  text-align:left;
  border-left:1px solid #C0C0C0;
  padding:10px 0px 10px 0px;
}
div.sidebarSpecContent div.sidePanelSectionContainer
{
  text-align:left;
}
div.sidebarSpecContent div.sidePanelSectionContainer img.icon
{
  float:left;
  width:60px;
  height:60px;
  max-width:60px;
  max-height:60px;
  border:1px solid black;
  margin-left:5px;
  margin-bottom:5px;
  padding:1px;
  background-color:white;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.super
{
  font-size:75%;
  margin-left:72px;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.header
{
  font-size:90%;
  padding-left:5px;
  margin-left:68px;
  border-bottom:1px solid black;
  font-weight:bold;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.text, div.sidebarSpecContent div.sidePanelSectionContainer a.text
{
  font-size:80%;
  padding:5px;
  text-align:center;
  display:block;
  border-bottom:none;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.item, div.sidebarSpecContent div.sidePanelSectionContainer a.item
{
  font-size:80%;
  min-height:16px;
  overflow:hidden;
  display:block;
  border-bottom:none;
  margin:0px 0px 2px 10px;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.item img, div.sidebarSpecContent div.sidePanelSectionContainer a.item img
{
  width:14px;
  float:left;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.item span, div.sidebarSpecContent div.sidePanelSectioncontainer a.item span
{
  margin-left:5px;
}
div.sidebarSpecContent div.separator
{
  height:15px;
}

/* Image-based list item */
div.listItem, div.listItemHover
{
  width:150px;
  border:1px solid black;
  background-color:white;
  cursor:pointer;
  display:inline-block;
  margin-top:3px;
}
* html div.listItem, * + html div.listItem, * html div.listItemHover, * + html div.listItemHover
{
  display:inline;
  margin-right:3px;
}
div.listItem
{
  opacity:0.6;
  filter:alpha(opacity=60);
}
div.listItem div, div.listItemHover div
{
  text-align:center;
  font-weight:bold;
  font-size:80%;
  height:32px;
  overflow:hidden;
  border-bottom:1px solid black;
  background-color:#71C671;
}
div.listItem img, div.listItemHover img
{
  max-width:150px;
  max-height:150px;
  height:150px;
  width:150px;
}

/* Related Group */
div.articleSide div.noResults
{
  text-align:center;
  margin-top:15px;
  font-size:80%;
}
/*div.articleSide ul.groupRelatedItems*/
ul
{
  padding:0px;
  margin-left:5px;
  list-style-type:none;
}
/*div.articleSide ul.groupRelatedItems li*/
ul li
{
  background:url('bullet-green.png') 0px 2px no-repeat;
  padding-left:16px;
  font-size:90%;
  margin-bottom:2px;
}
div.articleSide a.groupRelated
{ 
  /*display:block;
  font-size:90%;
  padding-left:16px;
  background:transparent url('bullet-green.png') no-repeat top left;*/
}

/* Feeds */
div.feedPanel
{
  float:right;
  width:270px;
  border-left:1px solid black;
  font-size:70%;
  text-align:left;
  padding:5px 5px 3px 5px;
  margin-bottom:8px;
}
div.feedPanel div.title
{
  text-align:center;
  font-weight:bold;
  border-bottom:1px dotted black;
}
div.feedPanel div.item
{
  margin-bottom:2px;
}
div.feedPanel div.item span.date
{
  font-size:80%;
  font-weight:bold;
}
div.feedPanel div.item img
{
  position:relative;
  top:2px;
  width:16px;
  height:16px;
  margin-right:4px;
}

/* Site Footer */
div.siteFooter
{
  background:#ade09f;
  border:1px solid #7da573;
  width:990px;
  font-size:70%;
  text-align:center;
  margin-bottom:25px;
  padding:5px;
}
div.siteFooter img.twitter
{
  float:left;
}