/* Multimedia Listing */
div.multimediaContainer
{
  margin-right:290px;
  margin-bottom:10px;
}
div.multimediaContainer div.frame
{
  float:right;
  width:225px;
  height:440px;
  overflow:hidden;
  font-size:90%;
  margin-left:10px;
}
div.multimediaContanier div.fullFrame
{
  margin-left:10px;
  font-size:10px;
}
div.multimediaContainer div.frame div.header
{
  font-weight:bold;
  border-bottom:2px solid #004F00;
  padding-right:10px;
  text-align:right;
  margin-bottom:5px;
}
div.multimediaContainer div.frame div.header a
{
  color:white;
}
div.multimediaContainer div.fullFrame div.header
{
  font-weight:bold;
  border-bottom:2px solid #004F00;
  margin-bottom:5px;
  text-align:left;
  padding-left:10px;
}
div.multimediaContainer div.frame a, div.multimediaContainer div.fullFrame a
{
  border-bottom:none;
}
div.multimediaContainer div.frame div.header span, div.multimediaContainer div.fullFrame div.header span
{
  display:inline-block;
  background-color:#004F00;
  /*color:#98FB98;*/
  color:white;
  padding-left:5px;
  padding-right:5px;
}
div.multimediaContainer div.frame div.subheader, div.multimediaContainer div.fullFrame div.subheader
{
  font-size:90%;
  text-align:left;
  border-bottom:1px solid black;
  padding-left:10px;
  margin-bottom:5px;
  font-weight:bold;
  margin-top:10px;
}
div.multimediaContainer div.frame div.divider, div.multimediaContainer div.fullFrame div.divider
{
  border-top:1px solid black;
  padding-top:2px;
  margin-top:2px;
  width:90%;
}
div.multimediaContainer div.fullFrame div.divider
{
  margin-top:6px;
  padding-top:6px;
}
div.multimediaContainer div.frame div.all
{
  margin-top:4px;
  text-align:right;
  border-bottom:1px solid black;
  font-weight:bold;
  font-size:90%;
}
div.multimediaContainer div.frame img.comic, div.multimediaContainer div.fullFrame img.comic
{
  max-width:80%;
  border:1px solid black;
  padding:1px;
  text-decoration:none;
}
div.multimediaContainer div.frame img.miniIcons, div.multimediaContainer div.fullFrame img.miniIcons
{
  border:1px solid black;
  padding:1px;
  width:50px;
  height:50px;
}
div.multimediaContainer div.fullFrame div.iconContainer, div.multimediaContainer div.frame div.iconContainer
{
  width:90px;
  height:90px;
  border:1px solid black;
  padding:1px;
  display:inline-block;
  position:relative;
  text-align:left;
  margin-bottom:5px;
}
div.multimediaContainer div.frame div.iconContainer
{
  width:50px;
  height:50px;
}
div.multimediaContainer div.fullFrame div.iconContainer img
{
  width:90px;
  height:90px;
  max-height:90px;
  max-width:90px;
}
div.multimediaContainer div.frame div.iconContainer img
{
  width:50px;
  height:50px;
  max-height:50px;
  max-width:50px;
}
div.multimediaContainer div.fullFrame div.iconContainer div.overlay
{
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  text-align:center;
  font-size:75%;
  background-color:white;
  display:none;
  padding:2px;
  opacity:0.8;
  filter:alpha(opacity=80);
}
div.multimediaContainer div.fullFrame a div.iconContainer div.overlay
{
  color:black;
}
div.multimediaContainer div.frame img.video, div.multimediaContainer div.fullFrame img.video
{
  max-width:80%;
  border:1px solid black;
  padding:1px;
}
div.multimediaContainer div.frame div.topContainer
{
  text-align:left;
  margin-bottom:2px;
}
div.multimediaContainer div.frame div.topContainer div.itemTitle
{
  font-weight:bold;
}
div.multimediaContainer div.frame div.topContainer div.itemCaption
{
  font-size:90%;
}
div.multimediaContainer div.frame div.entry, div.multimediaContainer div.frame div.entryLast
{
  font-size:90%;
  text-align:left;
  padding-bottom:3px;
  margin-bottom:2px;
}
div.multimediaContainer div.frame div.entry
{
  border-bottom:1px solid black;
}

/* Photo Galleries */
div.specContentContainer a.galleryImage
{
  border-bottom:none;
}
div.specContentContainer a.galleryImage img.icon
{
  border:1px solid black;
}
div.specContentContainer div.galleryPhoto
{
  width:70%;
  font-size:70%;
  text-align:left;
  margin-bottom:10px;
}
div.specContentContainer div.galleryPhoto img
{
  border:1px solid black;
  margin-bottom:3px;
  max-width:100%;
}
div.specContentContainer div.galleryPhoto div.title
{
  font-weight:bold;
}

div.multimediaListItem, div.multimediaListItemHover
{
  width:152px;
  border:1px solid black;
  background-color:white;
  cursor:pointer;
  display:inline-block;
  margin-top:3px;
}
div.multimediaListItem
{
  opacity:0.6;
  filter:alpha(opacity=60);
}
div.multimediaListItem div, div.multimediaListItemHover div
{
  text-align:center;
  font-weight:bold;
  font-size:80%;
  height:32px;
  overflow:hidden;
  border-bottom:1px solid black;
  background-color:#71C671;
}
div.multimediaListItem img, div.multimediaListItemHover img
{
  max-width:150px;
  max-height:150px;  
}

/* Comics */
div.sidebarSpecContent div.sidePanelSectionContainer img.comic_navigation_icon
{
  width:50px;
  height:50px;
  border:1px solid black;
  padding:1px;
  background-color:white;
}
div.articleContainer img.comic
{
  margin-top:10px;
  margin-bottom:10px;
  max-width:600px;
}
div.articleSide div.comicNavHeader, div.articleSide div.photoNavHeader
{
  font-weight:bold;
  border-bottom:1px solid black;
  padding-left:5px;
  margin-right:5px;
  margin-left:5px;
}
div.articleSide div.comicNavigation, div.articleSide div.photoNavigation
{
  min-height:150px;
  text-align:center;
}
div.articleSide div.comicNavigation img.comicIcon, div.articleSide div.photoNavigation img.photo
{
  max-width:95px;
  max-height:95px;
  border:1px solid black;
  background-color:white;
  padding:1px;
  margin-top:5px;
}

/* Photo Gallery */
div.specContentContainer img.galleryPhotoIcon
{
  max-width:100px;
  border:1px solid black;
}

/* Photo */
div.specContentContainer div.galleryPhotoContainer
{
  margin-bottom:10px;
  border:1px solid #D3D3D3;
  background:#F5F5F5 url('sound-slides-background.png');
  max-width:652px;
  width:650px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
div.specContentContainer div.galleryPhotoContainer div.photo
{
  width:650px;
  height:500px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
/*\*//*/
div.specContentContainer div.galleryPhotoContainer div.photo
{
  display:block;
}
/**/
div.specContentContainer div.galleryPhotoContainer div.photo img
{
  max-width:648px;
  max-height:498px;
  border:1px solid #636363;
  background-color:white;
  vertical-align:middle;
}
div.specContentContainer div.galleryPhotoContainer div.photoTitle
{
  font-weight:bold;
  text-align:left;
  margin-top:10px;
  padding:0px 5px 0px 5px;
  font-size:90%;  
}
div.specContentContainer div.galleryPhotoContainer div.photoCaption
{
  font-size:90%;
  text-align:left;
  padding:0px 5px 0px 5px;
}
div.specContentContainer div.galleryPhotoContainer div.photoDate
{
  font-size:80%;
  text-align:right;
  padding:0px 5px 0px 5px;
  margin:15px 0px 5px 0px;
}

/* Video */
a.video
{
  display:block;
  width:600px;
  height:459px;
  margin-top:5px;
  margin-bottom:5px;
  border:1px solid black;
  background-color:white;
  padding:1px;
}
div.articleContainer div.caption
{
  font-size:80%;
  text-align:left;
  border-top:1px solid black;
  padding-top:5px;
  margin:0px 5px 5px 5px;
  padding:5px 10px 0px 5px;
}

/* Audio and Sound Slides*/
div.articleContainer div.audio, div.articleContainer div.audioContainer object
{
  margin-top:5px;
  margin-bottom:5px;
  width:600px;
  border:1px solid black;
  background-color:white;
  padding:2px;
  text-align:right;
  font-size:80%;
  display:block inline;
}
div.specContentContainer div.soundSlideContainer
{
  margin-bottom:10px;
  border:1px solid #D3D3D3;
  background:#F5F5F5 url('sound-slides-background.png');
  max-width:512px;
  width:512px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
div.specContentContainer div.soundSlideContainer div.slideImage
{
  display:table-cell;
  vertical-align:middle;
  height:512px;
  width:512px;
  text-align:center;
}
/*\*//*/
div.specContentContainer div.soundSlideContainer div.slideImage
{
  display:block;
}
/**/
div.specContentContainer div.soundSlideContainer div.slideImage img
{
  border:1px solid #636363;
  background-color:white;
  vertical-align:middle;
}
div.specContentContainer div.soundSlideContainer div.slideImage img.blurred
{
  /*filter:alpha(opacity=50%);
  opacity:0.5;*/
}
div.specContentContainer div.soundSlideContainer div.slideCaption
{
  font-size:80%;
  color:black;
  padding:3px;
  margin-bottom:5px;
}
div.specContentContainer div.soundSlideContainer div.slideAudio
{
  width:510px;
  height:30px;
  border:1px solid #D3D3D3;
  padding-top:1px;
}
div.articleContainer div.audioContainer div.soundSlideImage
{
  border:1px solid black;
  background-color:white;
  width:502px;
  height:502px;
  max-height:502px;
  max-width:502px;
  margin-top:5px;
  position:relative;
  background-repeat:no-repeat;
  background-position:1px 1px;
}