/* Leaf Listing */
div.leafListing
{
  margin-bottom:5px;
}
div.leafListing div.title
{
  font-weight:bold;
  text-align:center;
  font-size:150%;
}
div.leafListing div.subtitle
{
  margin-bottom:10px;
  font-size:90%;
}
div.leafListing div.sidebar { float:right; }
div.leafListing div.listContainer
{
  margin-right:200px;
  text-align:left;
}
div.leafListing div.listContainer .issue
{
  display:inline-block;
  width:377px;
  margin-bottom:5px;
  position:relative;
  text-decoration:none;
  border:0px;
  height:160px;
  color:black;
  padding:0px 5px 0px 5px;
  max-height:160px;
}
div.leafListing div.listContainer .latest { background-color:#CFDBC5; }
div.leafListing div.listContainer div.issue { border-color:#A7A7A7; color:#636363; }
div.leafListing div.listContainer .issue div.month
{
  position:absolute;
  top:0px;
  left:0px;
  background-color:#C0D9AF;
  border:1px solid #476A34;
  font-weight:bold;
  padding:1px 4px 1px 4px;
  font-size:90%;
}
div.leafListing div.listContainer div.issue div.month { background-color:#DEDEDE; border-color:#A7A7A7; }
div.leafListing div.listContainer .issue div.cover
{
  display:inline-block;
  width:100px;
  height:150px;
  float:left;
  margin-top:5px;
  background:url('loading-image.gif') no-repeat center center;
  border:1px solid #476A34;
}
div.leafListing div.listContainer div.issue div.cover { border-color:#A7A7A7; }
div.leafListing div.listContainer a.issue div.coverAlternate { display:none; }
div.leafListing div.listContainer a.issue:hover div.coverDefault { display:none; }
div.leafListing div.listContainer a.issue:hover div.coverAlternate { display:inline-block; }
div.leafListing div.listContainer .issue div.issueTitle
{
  font-weight:bold;
  margin:6px 5px 0px 105px;
  padding-left:5px;
  font-size:90%;
  height:30px;
  max-height:30px;
  border-bottom:1px solid #476A34;
}
div.leafListing div.listContainer div.issue div.issueTitle { border-bottom-color:#A7A7A7; }
div.leafListing div.listContainer .issue div.issueInfo
{
  position:absolute;
  top:37px;
  bottom:9px;
  right:10px;
  left:110px;
  font-size:70%;
  overflow:hidden;
  background-color:#C5E3BF;
  padding:3px 1px 3px 1px;
  border:1px solid #476A34;
  border-top:0px;
}
div.leafListing div.listContainer div.issue div.issueInfo
{
  border-color:#A7A7A7;
  background-color:#E5E5E5;
  text-align:center;
}
div.leafListing div.listContainer .issue div.issueTitle div.issueSubtitle
{
  text-align:right;
  font-weight:normal;
  font-size:70%;
}
div.leafListing div.listContainer a.issue div.issueInfo div.items
{
  padding:0px 3px 0px 6px;
}
div.leafListing div.listContainer a.issue div.issueInfo div.label { font-weight:bold; }
div.leafListing div.listContainer a.issue div.issueInfo div.items span.item
{
  color: #426F42;
}
div.leafListing div.listContainer a.issue div.issueInfo div.items span.item img
{
  size:12px;
  position:relative;
  top:2px;
  margin-right:2px;  
}
div.leafListing div.listContainer a.issue div.issueInfo div.items span.item span.itemTitle
{
  font-weight:bold;
  color:#2F4F2F;
}
div.leafListing div.listContainer a.issue div.issueInfo div.ellipses
{
  position:absolute;
  bottom:0px;
  right:0px;
  background-color:red;
  width:20px;
  height:16px;
}

/* Leaf Issue */
div.leafIssue
{
  text-align:center;
  margin:5px 10px 5px 5px;
}
div.leafIssue object.leaf
{
  width:100%;
  height:650px;
  border:1px solid black;
}
div.leafIssue div.issuuSubline
{
  text-align:right;
  font-size:70%;
}
div.leafIssue div.contributorsContainer
{
  text-align:left;
}
div.leafIssue div.contributorsContainer div.header
{
  font-weight:bold;
  font-size:125%;
  margin-bottom:3px;
  border-bottom:1px solid black;
  margin-right:100px;
}
div.leafIssue div.contributorsContainer a.contributor
{
  text-decoration:none;
  border-bottom:0px;
  display:block;
  font-size:80%;
  margin-bottom:3px;
  float:left;
  width:50%;
}
div.leafIssue div.contributorsContainer a.contributor img
{
  height:40px;
  width:40px;
  border:1px solid black;
  float:left;
  margin-right:5px;
  font-size:125%;
}
div.leafIssue div.contributorsContainer a.contributor div.name
{
  font-weight:bold;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.sideLeafContainer
{
  /*max-height:200px;
  overflow-y:auto;*/
}
div.sidebarSpecContent div.sidePanelSectionContainer div.sideLeafContainer div.leafItemHeader
{
  font-size:80%;
  font-weight:bold;
  margin-left:5px;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.sideLeafContainer div.leafItemSeparator
{
  height:5px;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.sideLeafContainer div.leafItemItem
{
  cursor:pointer;
  font-size:80%;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.sideLeafContainer div.leafItemItem img
{
  width:16px;
  height:16px;
  margin-right:5px;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.contributorItem
{
  overflow:visible;
}
div.sidebarSpecContent div.sidePanelSectionContainer div.contributorItem img
{
  border:1px solid black;
  width:30px;
  height:30px;
  margin-right:5px;
}
div.sidebarSpecContent div.sidePanelSectionContainer a.portfolio-link
{
  font-weight:bold;
}