/* Specials Listing */
div.specialsContainer
{
  margin-bottom:10px;
}
div.specialsContainer div.endedsContainer
{
  float:right;
  width:320px;
  max-width:320px;
}
div.specialsContainer div.endedsContainer div.header
{
  font-weight:bold;
  text-align:center;
  font-size:90%;
  margin-bottom:2px;
}
div.specialsContainer div.endedsContainer a.special
{
  display:block;
  border:1px solid black;
  border-bottom:none;
  padding:2px 10px 2px 10px;
  text-align:center;
  font-size:80%;
  height:18px;
  overflow:hidden;
}
div.specialsContainer div.endedsContainer a.special.last { border-bottom:1px solid black; }
div.specialsContainer div.endedsContainer a.special:hover
{
  background-color:palegreen;
  font-weight:bold;
}

div.specialsContainer div.activesContainer
{
  margin-right:330px;
}
div.specialsContainer div.activesContainer a.special
{
  display:block;
  float:right;
  border:none;
}
div.specialsContainer div.activesContainer a.special.horizontal
{
  height:255px;
  margin-bottom:10px;
  max-height:255px;
  overflow:hidden;
  width:100%;
}
div.specialsContainer div.activesContainer a.special.horizontal * { margin-left:10px; }
div.specialsContainer div.activesContainer a.special.vertical
{
  width:325px;
  margin-left:10px;
}

div.specialsContainer div.activesContainer a.special div.title
{
  font-weight:bold;
  border:1px solid black;
  text-align:left;
  background:#C5E3BF;
  color:black;
  padding-left:3px;
  padding-right:3px;
  font-size:90%;
  height:18px;
  max-height:18px;
  overflow:hidden;
}
div.specialsContainer div.activesContainer a.special:hover div.title { background-color:#2F4F2F; }
div.specialsContainer div.activesContainer a.special img.banner
{
  height:150px;
  width:100%;
}
div.specialsContainer div.activesContainer a.special div.description
{
  border:1px solid black;
  background:#C5E3BF;
  font-size:90%;
  padding:4px;
  height:75px;
  overflow:hidden;
  max-height:75px;
  color:black;
}
div.specialsContainer div.activesContainer a.special:hover div.description
{
  background-color:#2F4F2F;
  color:black;
}

/* Special Page */
div.specialContainer
{
  margin-bottom:10px;
}
div.specialContainer div.photos
{
  float:right;
  width:210px;
}
div.specialContainer div.photos span
{
  display:inline-block;
  width:75px;
  height:75px;
  border:1px solid gray;
  background-color:lightgray;
}
div.specialContainer div.photos span.placeholder { background-color:white; border-color:black; }
div.specialContainer div.photos a
{
  width:75px;
  height:75px;
  border:1px solid black;
  max-width:75px;
  max-height:75px;
  display:inline-block;
}
div.specialContainer div.photos a img
{
  width:75px;
  height:75px;
}
div.specialContainer div.title
{
  text-align:center;
  font-weight:bold;
  font-size:200%;
  padding-top:20px;
  border-bottom:1px solid black;
  margin-right:220px;
  margin-bottom:5px;
}
div.specialContainer div.content
{
  margin-right:220px;
}
div.specialContainer div.content img.banner
{
  height:200px;
  border-bottom:1px solid gray;
}
div.specialContainer div.content div.description
{
  margin-bottom:10px; 
}
div.specialContainer div.content div.contentsContainer
{
  font-size:90%;
  text-align:left;
  margin-right:220px;
}
div.specialContainer div.content div.contentsContainer a.item
{
  display:block;
  border:none;
  margin-top:5px;
  height:60px;
  max-height:60px;
  overflow:hidden;
  color:black;
}
div.specialContainer div.content div.contentsContainer a.item.newDay { margin-top:15px; height:78px; max-height:78px; }
div.specialContainer div.content div.contentsContainer a.item:hover { color:black; }
div.specialContainer div.content div.contentsContainer a.item div.datetime
{
  text-align:right;
  font-weight:bold;
}
div.specialContainer div.content div.contentsContainer a.item div.datetime span
{
  padding:0px 5px 0px 5px;
  display:inline-block;
  height:18px;
  background-color:#324F17;
  color:white;
}
div.specialContainer div.content div.contentsContainer a.item img.icon
{
  width:58px;
  height:58px;
  border:1px solid #324F17;
  max-width:58px;
  max-height:58px;
  float:left;
  margin-right:5px;
  background-color:#CFDBC5;
}
div.specialContainer div.content div.contentsContainer a.item div.info
{
  border:1px solid #324F17;
  height:58px;
  overflow:hidden;
  max-height:58px;
  background-color:#CFDBC5;
}
div.specialContainer div.content div.contentsContainer a.item:hover div.info, div.specialContainer div.content div.contentsContainer a.item:hover img.icon { background-color: #C0D9AF; }
div.specialContainer div.content div.contentsContainer a.item div.info div.type
{
  float:left;
  width:150px;
  height:19px;
  font-weight:bold;
  text-align:center;
  border-bottom:1px solid #324F17;
  border-right:1px solid #324F17;
  background-color:#8AA37B;
  padding-top:1px;
}
div.specialContainer div.content div.contentsContainer a.item:hover div.info div.type { background-color:#55AE3A; }
div.specialContainer div.content div.contentsContainer a.item div.info div.name
{
  font-size:90%;
  height:21px;
  overflow:hidden;
  max-height:19px;
  padding-top:2px;
  padding-left:5px;
  text-align:center;
}
div.specialContainer div.content div.contentsContainer a.item div.info div.name span
{
  border-bottom:1px solid #324F17;
  display:inline-block;
  padding:0px 10px 0px 10px;
}
div.specialContainer div.content div.contentsContainer a.item div.info div.excerpt
{
  font-size:70%;
  padding:1px 3px 1px 3px;
}