/* Sports Listing */
div.sportsListContainer
{
  margin-bottom:5px;
  text-align:center;
}
div.sportsListContainer div.header
{
  font-weight:bold;
  font-size:200%;
  width:50%;
  margin:0px auto 5px auto;
  border-bottom:1px solid black;
}
div.sportsListContainer div.navigation
{
  margin:0px auto 5px auto;
  width:75%;
  font-size:80%;
}