div.validationErrorBox
{
  color:red;
  display:none;
  font-weight:bold;
}


body
{
  margin:0px;
  font-family:verdana;
  background-color:#D3D3D3;
}
div.mainColumn
{
  margin-top:25px;
  margin-bottom:25px;
  margin-left:225px;
  border-top:1px solid black;
  border-bottom:1px solid black;
  border-left:1px solid black;
  padding-left:4px;
  padding-right:4px;
  background-color:white;
}
div.navigation
{
  float:left;
  width:200px;
  border-top:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
  margin-bottom:2px;
  background-color:white;
  font-size:90%;
}
div.navigationHeader
{
  margin-left:2px;
  border-bottom:1px solid black;
  margin-right:2px;
  padding-left:3px;
  font-weight:bold;
  margin-top:10px;
}
div.navigationItem
{
  margin-left:10px;
}
div.navigationSubItem
{
  margin-left:25px;
}
div.navigation a:link, div.navigation a:visited, div.navigation a:active
{
  text-decoration:none;
  color:#458B00;
}
div.navigation a:hover
{
  color:#3B5323;
}
div.mainColumnHeader
{
  font-weight:bold;
  font-size:200%;
  border-bottom:1px solid black;
  padding-left:8px;
  padding-right:8px;
  margin-bottom:6px;
}
div.manageSubheader
{
  width:50%;
  border-bottom:1px solid black;
  font-weight:bold;
  font-size:120%;
  margin-left:3px;
  margin-bottom:6px;
}
div.manageSubcontents
{
  margin-left:10px;
  margin-bottom:10px;
}
div.divider
{
  margin-top:5px;
  padding-top:5px;
  border-top:1px solid #ABABAB;
  width:75%;
}
input.largeTextbox
{
  font-size:200%;
  height:48px;
  font-weight:bold;
  width:100%;
  padding-right:48px;
  margin-top:4px;
}
input.valid
{
  border:1px solid green;
  background:#90EE90 url('manage-icon-valid.png') no-repeat right top;
}
input.invalid
{
  color:white;
  border:1px solid red;
  background:#F08080 url('manage-icon-invalid.png') no-repeat right top;
}
input.validating
{
  border:1px solid orange;
  background:#FCD59C url('manage-icon-validating.png') no-repeat right top;
}
span.alternate
{
  border-bottom:1px dashed black;
  cursor:help;
}
span.manageLabel
{
  font-weight:bold;
  font-size:90%;
}
div.manageLabelPadding { height:4px; }
div.manageGuidelines
{
  font-size:80%;
  margin-bottom:5px;
}
div.manageGuidelines ul
{
  margin:0px;
}
div.manageGuidelines ul li
{
  margin-left:40px;
}

input.boxRadioButtons
{
  display:none;
}
label.boxRadioButtons
{
  background-color:#9BC4E2;
  border:1px solid #42647F;
  display:block;
  margin-left:10px;
  padding-left:2px;
  margin-right:10px;
  margin-top:2px;
  font-size:90%;
}
label.boxRadioChecked
{
  font-weight:bold;
  background-color:#5D92B1;
  border:1px solid #35586C;
  color:white;
}

div.postArticleImageContainer
{
  padding-left:5px;
  padding-right:5px;
  padding-bottom:4px;
}
select.normal
{
  width:100%;
}
textarea.normal
{
  width:100%;
}
button.largeButton, input.largeButton
{
  border:1px solid black;
  height:48px;
  text-align:center;
  font-weight:bold;
  font-size:200%;
  padding-left:20px;
  padding-right:20px;
}
button.mediumButton, input.mediumButton
{
  border:1px solid black;
  height:16px;
  text-align:center;
  font-weight:bold;
  font-size:70%;
  padding-left:20px;
  padding-right:20px;
}
button.blue, input.blue
{
  border:1px solid #00688B;
  background-color:#C3E4ED;
}
button.red, input.red
{
  border:1px solid #660000;
  background-color:F08080;
}
button.green, input.green
{
  border:1px solid #3B5323;
  background-color:#A6D785;
}

div.articleContainer
{
  border:1px solid black;
  margin-bottom:3px;
  background-color:#EDEDED;
  font-size:90%;
  padding-left:52px;
  padding-bottom:2px;
}
div.articleContainer a:link, div.articleContainer a:active, div.articleContainer a:visited
{
  text-decoration:none;
  color:blue;
}
img.draftIcon
{
  position:relative;
  top:3px;
}

div.containerPublished
{
  background:#CCFFCC url('manage-icon-published.png') no-repeat top left;
}
div.containerDraft
{
  background:#C3E4ED url('manage-icon-saved.png') no-repeat top left;
}

img.picture
{
  border:1px solid black;
  background-color:white;
  padding:1px;
}

div.success
{
  border:1px solid #004F00;
  background-color:#90EE90;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
}
div.error
{
  border:1px solid #CD0000;
  background-color:#FF6666;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
}
div.notice
{
  border:1px solid #EEAD0E;
  background-color:#FFF68F;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
}
div.newChange
{
  border:1px solid #50A6C2;
  background-color:#B2DFEE;
  text-align:left;
  padding:2px;
  margin-bottom:5px;
}
span.redNotice
{
  font-size:80%;
  color:red;
}

/* Administration */
div.listHeader
{
  font-weight:bold;
  font-size:125%;
  border-bottom:1px dotted black;
  margin-bottom:10px;
}
div.staffRow
{
  margin-left:20px;
  margin-right:20px;
  margin-bottom:3px;
  border:1px solid black;
  padding-left:6px;
  padding-right:6px;
  background-color:#C1F0F6;
}
a div.staffRow
{
  text-decoration:none;
  color:#00688B;
}
a:hover div.staffRow
{
  background-color:#39B7CD;
}
div.webmasterTaskHeader
{
  font-weight:bold;
  margin:5px 0px 5px 10px;
}
ul.webmasterTasks
{
  margin:0px;
}
ul.webmasterTasks li
{
  margin-left:50px;
}


div.manageContainer
{
  border:1px solid black;
  margin-bottom:3px;
  background-color:#EDEDED;
  font-size:90%;
  padding-bottom:2px;
  padding-top:2px;
  height:48px;
}
div.manageContainer img.icon
{
  max-height:48px;
  height:48px;
  max-width:48px;
  width:48px;
  float:left;
}

div.messagesNotification
{
  margin:7px;
  border:1px solid #FFB90F;
  background-color:#EEDD82;
  color:black;
  padding:5px;
}
a.messagesNotification
{
  text-decoration:none;
  color:black;
}

div.slideshowIconContainer
{
  display:inline-block;
  max-width:150px;
  width:150px;
  max-height:150px;
  height:150px;
  border:1px solid black;
  margin:2px;
  position:relative;
  overflow:hidden;
}
div.slideshowIconContainer img
{
  width:150px;
  height:150px;
  max-width:150px;
  max-height:150px;
}
div.slideshowIconContainer div.slideInfo
{
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  background-color:white;
  opacity:0.8;
  text-align:center;
  filter:alpha(opacity=80);
  overflow:hidden;
}
* html div.slideshowIconContainer,	* + html div.slideshowIconContainer
{
  display:inline;
}