html
{
  margin:0px;
  padding:0px;
  background:#F2FDC3 url('background-page.jpg');
  overflow-y:scroll;
  font-family:verdana, arial, serif;
}
a:link, a:active, a:visited
{
  color:#3A6219;
  text-decoration:none;
  font-weight:bold;
}
a:hover
{
  color:#679346;
}
div.success
{
  border:1px solid #004F00;
  background-color:#90EE90;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
  font-size:80%;
}
div.notice
{
  border:1px solid #EEAD0E;
  background-color:#FFF68F;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
}
div.error
{
  border:1px solid #CD0000;
  background-color:#FF6666;
  text-align:center;
  padding:2px;
  margin-bottom:5px;
  font-size:80%;
}
div.bottomLeaf
{
  background:url('Any-faded-large.png') no-repeat -75px 75px;
  position:fixed;
  left:0px;
  bottom:0px;
  width:200px;
  height:200px;
}
div.fullContainer
{
  text-align:left;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
}
div.headerContainer, div.headerContainerOver
{
  position:relative;
  border-top:1px solid #3A6219;
  width:840px;
  height:135px;
  margin:10px auto 8px auto;
  border-bottom:1px solid #3A6219;
  background:#FEFFEB url('leaf-logo.png') no-repeat 75px 0px;
  text-align:left;
}
div.headerContainerOver
{
  background-image:url('leaf-logo-over.png');
  cursor:pointer;
}
div.headerLogoLayer
{
  position:absolute;
  top:0px;
  left:75px;
  width:285px;
  height:135px;
}
div.headerTitle
{
  font-size:225%;
  font-weight:bold;
  margin-left:370px;
  margin-top:50px;
  font-family:Georgia;
}
div.headerSubtitle
{
  font-size:95%;
  font-style:italic;
  margin-left:370px;
}

/* Side Column */
div.sideColumn { width:260px; float:left; }
div.sideColumnTop
{
  height:3px;
  background:url('side-column-regular-top-background.png') no-repeat;
}
div.sideColumnHeaderTop
{
  height:16px;
  background:url('side-column-top-background.png') no-repeat;
  padding-left:10px;
  padding-right:10px;
}
div.sideColumnHeader
{
  padding-left:7px;
  padding-right:7px;
  background:url('side-column-header-background.png') no-repeat;
  font-size:90%;
  font-weight:bold;
  height:17px;
}
div.sideColumnHeaderBottom
{
  background:url('side-column-header-bottom-background.png') no-repeat;
  height:3px;
  overflow:hidden;
}
div.sideColumnContent
{
  padding-left:6px;
  padding-right:6px;
  background:url('side-column-content-background.png') repeat-y;
  font-size:80%;
}
div.sideColumnBottom
{
  margin-bottom:10px;
  height:3px;
  background:url('side-column-bottom-background.png') no-repeat;
}
div.sidePostContainer, div.sidePostContainerHover
{
  background-color:#FEFFEB;
  height:28px;
  border:0px;
  border-bottom-width:1px;
  border-style:solid;
  border-color:#668E47;
  cursor:pointer;
}
div.sidePostContainerHover
{
  background-color:#C6DD6B;
}
img.sidePostIcon
{
  float:left;
  margin-top:6px;
  margin-left:6px;
}
div.sidePostTitle
{
  font-weight:bold;
  margin-left:28px;
  overflow:hidden;
  height:15px;
  font-size:90%;
}
div.sidePostSubtitle
{
  font-size:70%;
  overflow:hidden;
  margin-left:28px;
  height:13px;
}
div.sidePostEntry
{
  text-align:center;
}

/* Main Column */
div.mainColumn
{
  margin-left:110px;
  border:1px solid #3A6219;
  background-color:#DCF3A5;
  padding-left:150px;
  padding-right:10px;
  margin-top:12px;
}
div.mainColumnBreadcrumbs
{
  background-color:#C6DD6B;
  border:1px solid #3A6219;
  font-weight:bold;
  font-size:70%;
  padding-left:6px;
  margin-top:5px;
  margin-bottom:10px;
}

table.pageNavigation
{
  border:1px solid #476A34;
  background-color:#93DB70;
  margin-bottom:5px;
  font-size:70%;
  border-collapse:collapse;
  height:20px;
  width:100%;
}
td.pageNavigationButtonActive, td.pageNavigationButtonActiveHover, td.pageNavigationButtonDisabled, td.pageNavigationCell
{
 width:33.33%;
}
td.pageNavigationCell
{
  font-weight:bold;
  text-align:center;
}
td.pageNavigationLeft
{
  text-align:left;
  border-right-width:1px;
  border-right-style:solid;
  padding-left:10px;
}
td.pageNavigationRight
{
  text-align:right;
  border-left-width:1px;
  border-left-style:solid;
  padding-right:10px;
}
td.pageNavigationButtonActive
{
  cursor:pointer;
  background-color:#CCFFCC;
  border-color:#3F9E4D;
}
td.pageNavigationButtonActiveHover
{
  cursor:pointer;
  background-color:#E0EEE0;
  border-color:#3F9E4D;
  font-weight:bold;
}
td.pageNavigationButtonDisabled
{
  cursor:default;
  color:#838B83;
  background-color:#C1CDC1;
  border-color:#838B83;
}

div.beatsTitle, div.portfolioTitle, div.homeLatestArticleTitle
{
  background-color:#699444;
  border:1px solid #3A6219;
  font-weight:bold;
  font-size:170%;
  padding-left:3px;
  padding-right:3px;
  margin-bottom:2px;
}
div.beatsSubtitle, div.portfolioSubtitle, div.homeLatestArticleSubtitle
{
  font-size:75%;
  background-color:#CBC4B2;
  border:1px solid #6D6B56;
  padding-left:5px;
  padding-right:5px;
  font-weight:bold;
  margin-bottom:5px;
  color:#6D6B56;
  margin-bottom:2px;
}
div.beatsContents, div.portfolioContents
{
  margin-bottom:10px;
  font-size:80%;
  padding-left:7px;
  padding-right:7px;
}
img.staffPicture
{
  float:right;
  background-color:white;
  border:1px solid black;
  padding:1px;
  max-width:300px;
  margin-top:3px;
  margin-right:3px;
}

div.imageContainerLeft, div.imageContainerRight
{
  border:1px solid black;
  background-color:white;
  max-width:300px;
  width:300px;
  font-size:70%;
  padding:1px;
}
div.imageContainerLeft img, div.imageContainerRight img
{
  max-width:300px;
  margin-left:auto;
  margin-right:auto;
}
div.imageContainerLeft { float:left; margin-right:6px; }
div.imageContainerRight { float:right; margin-left:6px; }

div.beatsListContainer, div.beatsListContainerHover
{
  border:1px solid #6BA13F;
  background-color:#C4E793;
  height:75px;
  max-height:75px;
  margin-bottom:3px;
  font-size:70%;
}
div.beatsListContainerHover
{
  background-color:#CDEEA9;
  cursor:pointer;
}
div.beatsListContainerHover div.beatsListTitle
{
  background-color:#86BA56;
}
div.beatsListImage
{
  margin:1px;
  border:1px solid black;
  float:left;
  max-height:69px;
  max-width:92px;
  height:69px;
  width:92px;
  padding:1px;
  background-color:white;
  text-align:center;
  margin-right:4px;
}
div.beatsListImage img
{
  width:auto !important;
  width:93px;
  height:auto !important;
  height:69px;
  max-height:69px;
  max-width:93px;
}
div.beatsListTitle
{
  font-weight:bold;
  background-color:#6BA13F;
  padding-left:97px;
  padding-right:3px;
  font-size:140%;
}
div.newsFooter
{
  font-size:70%;
  border:1px solid black;
  text-align:right;
  padding-right:6px;
  background-color:#CBC4B2;
  margin-bottom:5px;
}

td.staffListCell
{
  cursor:pointer;
  opacity:0.6;
  filter:alpha(opacity=60);
}
td.staffListCellHover
{
  cursor:pointer;
}
div.staffListName
{
  font-size:80%;
  background-color:#CBC4B2;
  border:1px solid #6D6B56;
  padding-left:5px;
  padding-right:5px;
  font-weight:bold;
  margin-bottom:5px;
  color:#6D6B56;
  margin-bottom:2px;
  text-align:center;
}
img.staffListPicture
{
  width:150px;
  height:200px;
  border:1px solid black;
  background-color:white;
  padding:1px;
  margin-bottom:5px;
}
img.cartoonImage, img.photoGalleryImage
{
  margin-top:6px;
  border:1px solid black;
  padding:1px;
  background-color:white;
  max-width:720px;
}
img.photoGalleryImage { margin-top:0px; }
div.photoGalleryImageCaption
{
  background-color:white;
  border:1px solid black;
  padding-left:5px;
  padding-right:5px;
  margin-top:3px;
  font-size:90%;
}
div.photoGalleryContainer
{
  margin-bottom:6px;
  margin-top:3px;
  text-align:center;
}
div.photoGalleryNavigation
{
  font-size:80%;
  text-align:center;
  margin-top:6px;
}
img.photoGalleryIcon, img.photoGalleryIconHover
{
  background-color:white;
  border:1px solid black;
  padding:1px;
  width:150px;
  height:150px;
  cursor:pointer;
}
img.photoGalleryIcon
{
  opacity:0.6;
  filter:alpha(opacity=60);
}
td.multimediaListCell
{
  cursor:pointer;
  opacity:0.6;
  filter:alpha(opacity=60);
}
td.multimediaListCellHover
{
  cursor:pointer;
}
div.multimediaListName
{
  font-size:80%;
  background-color:#CBC4B2;
  border:1px solid #6D6B56;
  font-weight:bold;
  margin-bottom:5px;
  color:#6D6B56;
  text-align:center;
  max-width:152px;
  width:152px;
  height:32px;
  overflow:hidden;
}
img.multimediaListPicture
{
  width:150px;
  height:150px;
  border:1px solid black;
  background-color:white;
  padding:1px;
  margin-bottom:5px;
}
a.video
{
  display:block;
  width:600px;
  height:459px;
  border:1px solid black;
  background-color:white;
  padding:1px;
}
div.audioContainer
{
  text-align:center;
  margin-top:10px;
  border:1px solid black;
  width:670px;
  background-color:white;
  padding:5px;
}
div.audioPlayer
{
  width:600px;
  border:1px solid black;
  background-color:white;
  padding:2px;
  text-align:center;
}
div.audioDescription
{
  margin-top:5px;
  padding-top:5px;
  border-top:1px solid black;
  font-size:90%;
}
div.audioTranscript
{
  margin-top:5px;
  border-top:1px solid black;
  padding-top:5px;
  font-size:80%;
  text-align:left;
}
div.portfolioWorkItemHeader
{
  font-weight:bold;
  border-bottom:1px solid black;
  margin-bottom:4px;
}
div.portfolioWorkItem
{
  padding-left:16px;
  background:url('bullet-green.png') no-repeat 0px 1px;
}
img.portfolioImage
{
  max-width:90px;
  max-height:90px;
  padding:1px;
  background-color:white;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60);
}
div.yearbookFAQHeader, div.contactHeader
{
  font-size:140%;
  font-weight:bold;
  text-align:center;
}
div.contactHeader { margin-bottom:10px; }
div.yearbookFAQSubheader
{
  text-align:center;
}
div.yearbookFAQContainer
{
  border:1px solid black;
  margin-bottom:7px;
  background-color:white;
  width:650px;
  text-align:left;
  font-size:90%;
}
div.yearbookFAQQuestion
{
  border-bottom:1px solid black;
  padding-bottom:4px;
  background-color:#CBC4B2;
  padding-top:4px;
  padding-left:2px;
}
div.yearbookFAQAnswer
{
  padding-left:2px;
  padding-bottom:1px;
}
div.yearbookNavigation
{
  font-size:90%;
  margin-top:10px;
  margin-bottom:10px;
}
table.yearbookConfirmationTable
{
  width:100%;
  margin-top:8px;
  border-collapse:collapse;
}
tr.yearbookConfirmationTableHeader td
{
  font-weight:bold;
  border:1px solid black;
  width:25%;
  background-color:white;
}
div.contactContainer
{
  background-color:white;
  border:1px solid black;
  padding:2px;
  font-size:90%;
  margin-bottom:8px;
  width:650px;
  text-align:left;
}
div.contactContainerExpla
{
  margin-left:8px;
  margin-right:8px;
  padding-bottom:1px;
  padding-right:5px;
  padding-left:5px;
  border-bottom:1px solid black;
  margin-bottom:8px;
}
div.leafIssuu
{
  width:600px;
  max-width:600px;
  margin-top:10px;
  border:1px solid black;
  background-color:white;
  padding:1px;
  text-align:center;
  font-size:90%;
}
div.homeLatestNews
{
  max-width:500px;
  width:500px;
  padding-top:4px;
  text-align:center;
}
div.homeLatestNewsHeader
{
  text-align:center;
  font-weight:bold;
  background-color:white;
  font-size:125%;
  border:1px solid black;
}
div.homeLatestNews img
{
  width:auto !important;
  width:200px;
  height:auto !important;
  max-width:200px;
  max-height:150px;
  margin-top:5px;
  border:1px solid black;
  background-color:white;
  padding:1px;
  margin-bottom:5px;
}
div.noticePanel
{
  float:right;
  width:275px;
}
div.noticePanelContents
{
  border-left:1px solid #3A6219;
  border-right:1px solid #3A6219;
  background-color:#e8f3cc;
  font-size:80%;
  padding-top:5px;
}
div.noticePanelBottom
{
  height:3px;
  background:url('notice-panel-bottom.png') no-repeat;
}
div.noticePanelHeader
{
  text-align:center;
  font-weight:bold;
  border:1px solid #3A6219;
  margin-left:2px;
  margin-right:2px;
  padding-left:5px;
  padding-right:5px;
  background-color:#DCF3A5;
}
div.noticePanelEntry
{
  margin-left:2px;
  margin-right:2px;
  border:0px;
  border-color:#3A6219;
  border-style:solid;
  border-bottom-width:1px;
  background-color:white;
}
div.pollContainer
{
  border:1px solid black;
  background-color:white;
  font-size:80%;
  margin-top:10px;
  text-align:left;
  padding-bottom:5px;
  padding-top:2px;
}
div.pollHeader
{
  margin:2px;
  font-weight:bold;
  text-align:center;
  background-color:#86C67C;
}
input.pollButton
{
  width:90%;
}

div.homeLatestArticle, div.homeLatestArticleHover
{
  margin-top:2px;
  border:1px solid black;
  background-color:#e8f3cc;
  padding:1px;
  cursor:pointer;
  margin-left:20px;
  margin-right:20px;
}
div.homeLatestArticleHover
{
  background-color:white;
}
div.homeLatestArticleTitle
{
  font-size:90%;
}
div.homeLatestArticleSubtitle
{
  font-size:70%;
}
div.homeLatestArticleContents
{
  text-align:left;
  font-size:70%;
  overflow:hidden;
}
div.homeDivider
{
  margin-top:5px;
  margin-bottom:5px;
  height:0px;
  border-top:1px solid #3A6219;
}
div.homeWhatIsHeader
{
  font-weight:bold;
  text-align:center;
  font-size:150%;
}
div.homeWhatIsAnswer
{
  font-size:70%;
}

div.pollResultsContainer
{
  border:1px solid #93DB70;
  padding:1px;
  background-color:#E0EEE0;
  height:12px;
  margin-left:5px;
  margin-right:5px;
}
div.pollResultsBar
{
  height:100%;
  background-color:#86C67C;
}
div.sportsHeader
{
  border-bottom:1px solid #363636;
  font-weight:bold;
  font-size:200%;
  text-align:center;
  width:80%;
  padding-bottom:2px;
}
div.sportsNavigation
{
  width:80%;
  text-align:center;
  font-size:90%;
  border-bottom:1px solid #363636;
  padding-bottom:1px;
  margin-bottom:6px;
}
div.sportsTeamContainer
{
  border:1px solid black;
  padding:2px;
  margin-bottom:3px;
  background-color:#F5F5F5;
}
img.sportsTeamIcon
{
  margin-right:3px;
  position:relative;
  top:1px;
}

div.errorHeader
{
  font-weight:bold;
  font-size:250%;
  text-align:center;
}
div.errorText
{
  background-color:white;
  border:1px solid black;
  padding-left:5px;
  padding-right:5px;
  padding-top:1px;
  padding-bottom:1px;
  margin-bottom:5px;
  width:600px;
  text-align:center;
  margin-top:5px;
  font-size:90%;
}

div.footerContainer
{
  clear:both;
  width:720px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  text-align:center;
  font-size:65%;
}
img.twitterLogo
{
  float:left;
  margin-right:5px;
  width:48px;
  height:48px;
  max-width:48px;
  max-height:48px;
}