body {
    background-color: rgb(186,192,194);
    font-family: "Arial", Helvetica, sans-serif;
}

a {
    color: rgb(100,100,100);
    text-decoration: none;
}

a:hover {
    color: rgb(244,244,244);
}

#index_title {
    color: rgb(64,64,64);
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 12px;
    text-align: center;
}

#selection {
    padding: 2px;
    font-size: 90%;
    line-height: 130%;

}

#select {
    color: white;
    border: 0px;
    width: 400px;
    text-align: left;
}

#box {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(64,64,64);
    padding: 5px;
    width: 400px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 410px;
}

textarea {
    width: 650px;
    height: 200px;
}

#page_title {
    font-weight: bold;
    float: left;
}

#exit {
     float: right;
}